In [75]:
import pandas as pd

df = pd.DataFrame(dict(a=[1,1,2,3],b=[5,3,6,7],count=[1.,2.,1.,1.]),)

In [76]:
df

   a  b  count
0  1  5    1.0
1  1  3    2.0
2  2  6    1.0
3  3  7    1.0

In [77]:
groups = df.groupby("a")

In [78]:
list(groups)

[(1,    a  b  count
  0  1  5    1.0
  1  1  3    2.0), (2,    a  b  count
  2  2  6    1.0), (3,    a  b  count
  3  3  7    1.0)]

In [79]:
def select_w(group):
    from numpy.random import choice
    return choice(group["b"],p=group["count"].values/sum(group["count"].values))

In [84]:
test = groups.aggregate(select_w).drop("count",axis=1)
test

   b
a
1  5
2  6
3  7

In [21]:
import numpy.random as npr
x = df.groupby("a").aggregate(npr.choice)

In [22]:
x = x.reset_index()

In [23]:
x

   a  b
0  1  3
1  2  6
2  3  7