In [1]:
from src.generator import main
out = main()

Parameters
Done
Clock
Done
Generators
Done
initialise Time Generators
Done
Create callers
Done
Added atributes
Creating social network
Done
Done SNA
Mobility
Network created
Agent relationship created
Done all customers
Creating circus
Done
Start run

In [3]:
out[0].get_contents()[1]["customers"]._transient_attributes["MAIN_ACCT"]._table

            activity  clock       value
0000000000       1.0     -8   95.000000
0000000001       1.0      0  -56.952029
0000000002       1.0     -1  193.599327
0000000003       1.0      0  263.826140
0000000004       1.0      0   94.480506
0000000005       1.0     -6  104.579128
0000000006       1.0     -2  185.000000
0000000007       1.0      0  196.965851
0000000008       1.0     -5  194.590193
0000000009       1.0     -1  204.280495
0000000010       1.0     -6   95.000000
0000000011       1.0     -5   95.000000
0000000012       1.0     -8  104.399657
0000000013       1.0     -1  402.695216
0000000014       1.0     -2  284.852018
0000000015       1.0     -4  194.812565
0000000016       1.0      0   92.617256
0000000017       1.0      0   91.329694
0000000018       1.0      0  173.174914
0000000019       1.0     -8   95.000000
0000000020       1.0      0  164.611641
0000000021       1.0     -3  194.731457
0000000022       1.0     -1  275.000000
0000000023       1.0      0   92.723733
0000000024       1.0     -2  201.985233
0000000025       1.0     -8   85.000000
0000000026       1.0     -5   95.000000
0000000027       1.0     -2  185.000000
0000000028       1.0      0   94.498037
0000000029       1.0      0  -44.190477
...              ...    ...         ...
0000000070       1.0     -1  297.874212
0000000071       1.0     -3  202.961030
0000000072       1.0     -2  202.826599
0000000073       1.0     -5  104.830578
0000000074       1.0     -3  193.283042
0000000075       1.0     -2  185.000000
0000000076       1.0     -2  282.480000
0000000077       1.0     -8  104.566053
0000000078       1.0     -6  104.465507
0000000079       1.0     -4   93.994676
0000000080       1.0      0   75.000000
0000000081       1.0     -6   95.000000
0000000082       1.0     -1  283.437544
0000000083       1.0     -2  204.460748
0000000084       1.0     -3  203.806466
0000000085       1.0     -2  201.844923
0000000086       1.0      0  -68.411330
0000000087       1.0      0  -85.038504
0000000088       1.0      0   94.035272
0000000089       1.0     -3  193.851000
0000000090       1.0      0  102.335079
0000000091       1.0      0  -66.235767
0000000092       1.0     -1  264.910394
0000000093       1.0     -4  202.222077
0000000094       1.0      0  103.424423
0000000095       1.0     -9  104.527193
0000000096       1.0     -5  185.000000
0000000097       1.0     -5   95.000000
0000000098       1.0      0  104.134221
0000000099       1.0     -7   95.000000

[100 rows x 3 columns]

In [ ]:
out[1]

In [ ]:
out[2]

In [2]:
out[3]

,A,AGENT,CELL,CUSTOMER_NUMBER,VALUE,datetime,index,new
0,0000000031,AGENT_039,CELL_0020,0032477951929,100.0,08062016 01:16:05,NaN,NaN
1,0000000052,AGENT_021,CELL_0033,0032479896864,100.0,08062016 01:16:49,NaN,NaN
2,0000000093,AGENT_070,CELL_0096,0032478242348,100.0,08062016 01:33:27,NaN,NaN
3,0000000095,AGENT_015,CELL_0015,0032478280902,100.0,08062016 01:53:56,NaN,NaN
4,0000000000,AGENT_062,CELL_0010,0032478721241,100.0,08062016 02:27:17,NaN,NaN
5,0000000008,AGENT_058,CELL_0057,0032476504058,100.0,08062016 02:21:06,NaN,NaN
6,0000000012,AGENT_064,CELL_0043,0032472327922,100.0,08062016 02:39:17,NaN,NaN
7,0000000019,AGENT_017,CELL_0072,0032473505482,100.0,08062016 02:36:08,NaN,NaN
8,0000000022,AGENT_059,CELL_0078,0032477442558,100.0,08062016 02:14:11,NaN,NaN
9,0000000025,AGENT_081,CELL_0067,0032478183739,100.0,08062016 02:50:20,NaN,NaN
10,0000000030,AGENT_058,CELL_0008,0032479309206,100.0,08062016 02:34:38,NaN,NaN
11,0000000044,AGENT_075,CELL_0077,0032473948565,100.0,08062016 02:28:12,NaN,NaN
12,0000000054,AGENT_040,CELL_0087,0032473520580,100.0,08062016 02:45:30,NaN,NaN
13,0000000062,AGENT_012,CELL_0067,0032477301411,100.0,08062016 02:04:41,NaN,NaN
14,0000000063,AGENT_020,CELL_0090,0032476726160,100.0,08062016 02:52:14,NaN,NaN
15,0000000065,AGENT_077,CELL_0073,0032475145966,100.0,08062016 02:43:31,NaN,NaN
16,0000000072,AGENT_042,CELL_0079,0032479406285,100.0,08062016 02:06:52,NaN,NaN
17,0000000074,AGENT_009,CELL_0005,0032472558797,100.0,08062016 02:59:28,NaN,NaN
18,0000000077,AGENT_091,CELL_0089,0032477769523,100.0,08062016 02:54:27,NaN,NaN
19,0000000003,AGENT_037,CELL_0031,0032476053706,100.0,08062016 03:09:58,NaN,NaN
20,0000000007,AGENT_000,CELL_0006,0032476081367,100.0,08062016 03:19:51,NaN,NaN
21,0000000013,AGENT_042,CELL_0029,0032472677657,100.0,08062016 03:52:36,NaN,NaN
22,0000000014,AGENT_032,CELL_0002,0032475568602,100.0,08062016 03:05:00,NaN,NaN
23,0000000020,AGENT_077,CELL_0096,0032475930087,100.0,08062016 03:19:13,NaN,NaN
24,0000000021,AGENT_091,CELL_0083,0032478630264,100.0,08062016 03:05:00,NaN,NaN
25,0000000027,AGENT_031,CELL_0061,0032473325339,100.0,08062016 03:35:09,NaN,NaN
26,0000000032,AGENT_088,CELL_0002,0032475128009,100.0,08062016 03:12:04,NaN,NaN
27,0000000036,AGENT_045,CELL_0082,0032479448782,100.0,08062016 03:29:06,NaN,NaN
28,0000000041,AGENT_065,CELL_0085,0032477480082,100.0,08062016 03:12:27,NaN,NaN
29,0000000049,AGENT_026,CELL_0009,0032473374222,100.0,08062016 03:15:56,NaN,NaN
...,...,...,...,...,...,...,...,...
134,0000000037,AGENT_078,CELL_0003,0032476607188,100.0,08062016 08:22:32,NaN,NaN
135,0000000053,AGENT_088,CELL_0045,0032476350908,100.0,08062016 08:39:23,NaN,NaN
136,0000000055,AGENT_009,CELL_0030,0032475832908,100.0,08062016 08:54:50,NaN,NaN
137,0000000057,AGENT_034,CELL_0005,0032472363356,100.0,08062016 08:13:19,NaN,NaN
138,0000000058,AGENT_099,CELL_0046,0032475851639,100.0,08062016 08:44:06,NaN,NaN
139,0000000060,AGENT_054,CELL_0071,0032476644818,100.0,08062016 08:05:32,NaN,NaN
140,0000000062,AGENT_076,CELL_0039,0032477301411,100.0,08062016 08:40:27,NaN,NaN
141,0000000063,AGENT_028,CELL_0098,0032476726160,100.0,08062016 08:49:03,NaN,NaN
142,0000000072,AGENT_068,CELL_0072,0032479406285,100.0,08062016 08:58:01,NaN,NaN
143,0000000075,AGENT_041,CELL_0049,0032475068553,100.0,08062016 08:27:18,NaN,NaN
144,0000000076,AGENT_019,CELL_0050,0032472723811,100.0,08062016 08:09:55,NaN,NaN
145,0000000083,AGENT_076,CELL_0041,0032472366438,100.0,08062016 08:43:59,NaN,NaN
146,0000000085,AGENT_073,CELL_0009,0032479803762,100.0,08062016 08:54:54,NaN,NaN
147,0000000002,AGENT_019,CELL_0079,0032473942735,100.0,08062016 09:41:19,NaN,NaN
148,0000000009,AGENT_013,CELL_0056,0032479599658,100.0,08062016 09:24:04,NaN,NaN
149,0000000013,AGENT_096,CELL_0029,0032472677657,100.0,08062016 09:54:58,NaN,NaN
150,0000000022,AGENT_025,CELL_0053,0032477442558,100.0,08062016 09:10:25,NaN,NaN
151,0000000041,AGENT_098,CELL_0085,0032477480082,100.0,08062016 09:34:02,NaN,NaN
152,0000000043,AGENT_067,CELL_0051,0032473052537,100.0,08062016 09:55:36,NaN,NaN
153,0000000046,AGENT_027,CELL_0024,0032479685594,100.0,08062016 09:57:47,NaN,NaN
154,0000000047,AGENT_073,CELL_0033,0032479803632,100.0,08062016 09:01:14,NaN,NaN
155,0000000050,AGENT_083,CELL_0097,0032477041814,100.0,08062016 09:50:39,NaN,NaN
156,0000000051,AGENT_014,CELL_0090,0032478622468,100.0,08062016 09:07:52,NaN,NaN
157,0000000059,AGENT_028,CELL_0081,0032479838912,100.0,08062016 09:18:55,NaN,NaN
158,0000000061,AGENT_049,CELL_0005,0032477752580,100.0,08062016 09:55:58,NaN,NaN
159,0000000064,AGENT_018,CELL_0093,0032472666247,100.0,08062016 09:14:06,NaN,NaN
160,0000000067,AGENT_087,CELL_0094,0032479354031,100.0,08062016 09:59:04,NaN,NaN
161,0000000070,AGENT_053,CELL_0019,0032477762451,100.0,08062016 09:13:19,NaN,NaN
162,0000000082,AGENT_074,CELL_0055,0032479695526,100.0,08062016 09:25:47,NaN,NaN
163,0000000092,AGENT_014,CELL_0042,0032477316009,100.0,08062016 09:29:53,NaN,NaN

In [ ]:
from src.util_functions import assign_random_proportions

x = assign_random_proportions("A","Product",range(10),range(2),123456)

In [ ]:
x