In [1]:
from src.generator import main
out = main()

Parameters
Done
Clock
Done
Generators
Done
initialise Time Generators
Done
Create callers
Done
Added atributes
Creating social network
Done
Done SNA
Mobility
Network created
Agent relationship created
Done all customers
Creating circus
Done
Start run
iteration 0 on 600
iteration 1 on 600
iteration 2 on 600
iteration 3 on 600
iteration 4 on 600
iteration 5 on 600
iteration 6 on 600
iteration 7 on 600
iteration 8 on 600
iteration 9 on 600
iteration 10 on 600
iteration 11 on 600
iteration 12 on 600
iteration 13 on 600
iteration 14 on 600
iteration 15 on 600
iteration 16 on 600
iteration 17 on 600
iteration 18 on 600
iteration 19 on 600
iteration 20 on 600
iteration 21 on 600
iteration 22 on 600
iteration 23 on 600
iteration 24 on 600
iteration 25 on 600
iteration 26 on 600
iteration 27 on 600
iteration 28 on 600
iteration 29 on 600
iteration 30 on 600
iteration 31 on 600
iteration 32 on 600
iteration 33 on 600
iteration 34 on 600
iteration 35 on 600
iteration 36 on 600
iteration 37 on 600
iteration 38 on 600
iteration 39 on 600
iteration 40 on 600
iteration 41 on 600
iteration 42 on 600
iteration 43 on 600
iteration 44 on 600
iteration 45 on 600
iteration 46 on 600
iteration 47 on 600
iteration 48 on 600
iteration 49 on 600
iteration 50 on 600
iteration 51 on 600
iteration 52 on 600
iteration 53 on 600
iteration 54 on 600
iteration 55 on 600
iteration 56 on 600
iteration 57 on 600
iteration 58 on 600
iteration 59 on 600
iteration 60 on 600
iteration 61 on 600
iteration 62 on 600
iteration 63 on 600
iteration 64 on 600
iteration 65 on 600
iteration 66 on 600
iteration 67 on 600
iteration 68 on 600
iteration 69 on 600
iteration 70 on 600
iteration 71 on 600
iteration 72 on 600
iteration 73 on 600
iteration 74 on 600
iteration 75 on 600
iteration 76 on 600
iteration 77 on 600
iteration 78 on 600
iteration 79 on 600
iteration 80 on 600
iteration 81 on 600
iteration 82 on 600
iteration 83 on 600
iteration 84 on 600
iteration 85 on 600
iteration 86 on 600
iteration 87 on 600
iteration 88 on 600
iteration 89 on 600
iteration 90 on 600
iteration 91 on 600
iteration 92 on 600
iteration 93 on 600
iteration 94 on 600
iteration 95 on 600
iteration 96 on 600
iteration 97 on 600
iteration 98 on 600
iteration 99 on 600
iteration 100 on 600
iteration 101 on 600
iteration 102 on 600
iteration 103 on 600
iteration 104 on 600
iteration 105 on 600
iteration 106 on 600
iteration 107 on 600
iteration 108 on 600
iteration 109 on 600
iteration 110 on 600
iteration 111 on 600
iteration 112 on 600
iteration 113 on 600
iteration 114 on 600
iteration 115 on 600
iteration 116 on 600
iteration 117 on 600
iteration 118 on 600
iteration 119 on 600
iteration 120 on 600
iteration 121 on 600
iteration 122 on 600
iteration 123 on 600
iteration 124 on 600
iteration 125 on 600
iteration 126 on 600
iteration 127 on 600
iteration 128 on 600
iteration 129 on 600
iteration 130 on 600
iteration 131 on 600
iteration 132 on 600
iteration 133 on 600
iteration 134 on 600
iteration 135 on 600
iteration 136 on 600
iteration 137 on 600
iteration 138 on 600
iteration 139 on 600
iteration 140 on 600
iteration 141 on 600
iteration 142 on 600
iteration 143 on 600
iteration 144 on 600
iteration 145 on 600
iteration 146 on 600
iteration 147 on 600
iteration 148 on 600
iteration 149 on 600
iteration 150 on 600
iteration 151 on 600
iteration 152 on 600
iteration 153 on 600
iteration 154 on 600
iteration 155 on 600
iteration 156 on 600
iteration 157 on 600
iteration 158 on 600
iteration 159 on 600
iteration 160 on 600
iteration 161 on 600
iteration 162 on 600
iteration 163 on 600
iteration 164 on 600
iteration 165 on 600
iteration 166 on 600
iteration 167 on 600
iteration 168 on 600
iteration 169 on 600
iteration 170 on 600
iteration 171 on 600
iteration 172 on 600
iteration 173 on 600
iteration 174 on 600
iteration 175 on 600
iteration 176 on 600
iteration 177 on 600
iteration 178 on 600
iteration 179 on 600
iteration 180 on 600
iteration 181 on 600
iteration 182 on 600
iteration 183 on 600
iteration 184 on 600
iteration 185 on 600
iteration 186 on 600
iteration 187 on 600
iteration 188 on 600
iteration 189 on 600
iteration 190 on 600
iteration 191 on 600
iteration 192 on 600
iteration 193 on 600
iteration 194 on 600
iteration 195 on 600
iteration 196 on 600
iteration 197 on 600
iteration 198 on 600
iteration 199 on 600
iteration 200 on 600
iteration 201 on 600
iteration 202 on 600
iteration 203 on 600
iteration 204 on 600
iteration 205 on 600
iteration 206 on 600
iteration 207 on 600
iteration 208 on 600
iteration 209 on 600
iteration 210 on 600
iteration 211 on 600
iteration 212 on 600
iteration 213 on 600
iteration 214 on 600
iteration 215 on 600
iteration 216 on 600
iteration 217 on 600
iteration 218 on 600
iteration 219 on 600
iteration 220 on 600
iteration 221 on 600
iteration 222 on 600
iteration 223 on 600
iteration 224 on 600
iteration 225 on 600
iteration 226 on 600
iteration 227 on 600
iteration 228 on 600
iteration 229 on 600
iteration 230 on 600
iteration 231 on 600
iteration 232 on 600
iteration 233 on 600
iteration 234 on 600
iteration 235 on 600
iteration 236 on 600
iteration 237 on 600
iteration 238 on 600
iteration 239 on 600
iteration 240 on 600
iteration 241 on 600
iteration 242 on 600
iteration 243 on 600
iteration 244 on 600
iteration 245 on 600
iteration 246 on 600
iteration 247 on 600
iteration 248 on 600
iteration 249 on 600
iteration 250 on 600
iteration 251 on 600
iteration 252 on 600
iteration 253 on 600
iteration 254 on 600
iteration 255 on 600
iteration 256 on 600
iteration 257 on 600
iteration 258 on 600
iteration 259 on 600
iteration 260 on 600
iteration 261 on 600
iteration 262 on 600
iteration 263 on 600
iteration 264 on 600
iteration 265 on 600
iteration 266 on 600
iteration 267 on 600
iteration 268 on 600
iteration 269 on 600
iteration 270 on 600
iteration 271 on 600
iteration 272 on 600
iteration 273 on 600
iteration 274 on 600
iteration 275 on 600
iteration 276 on 600
iteration 277 on 600
iteration 278 on 600
iteration 279 on 600
iteration 280 on 600
iteration 281 on 600
iteration 282 on 600
iteration 283 on 600
iteration 284 on 600
iteration 285 on 600
iteration 286 on 600
iteration 287 on 600
iteration 288 on 600
iteration 289 on 600
iteration 290 on 600
iteration 291 on 600
iteration 292 on 600
iteration 293 on 600
iteration 294 on 600
iteration 295 on 600
iteration 296 on 600
iteration 297 on 600
iteration 298 on 600
iteration 299 on 600
iteration 300 on 600
iteration 301 on 600
iteration 302 on 600
iteration 303 on 600
iteration 304 on 600
iteration 305 on 600
iteration 306 on 600
iteration 307 on 600
iteration 308 on 600
iteration 309 on 600
iteration 310 on 600
iteration 311 on 600
iteration 312 on 600
iteration 313 on 600
iteration 314 on 600
iteration 315 on 600
iteration 316 on 600
iteration 317 on 600
iteration 318 on 600
iteration 319 on 600
iteration 320 on 600
iteration 321 on 600
iteration 322 on 600
iteration 323 on 600
iteration 324 on 600
iteration 325 on 600
iteration 326 on 600
iteration 327 on 600
iteration 328 on 600
iteration 329 on 600
iteration 330 on 600
iteration 331 on 600
iteration 332 on 600
iteration 333 on 600
iteration 334 on 600
iteration 335 on 600
iteration 336 on 600
iteration 337 on 600
iteration 338 on 600
iteration 339 on 600
iteration 340 on 600
iteration 341 on 600
iteration 342 on 600
iteration 343 on 600
iteration 344 on 600
iteration 345 on 600
iteration 346 on 600
iteration 347 on 600
iteration 348 on 600
iteration 349 on 600
iteration 350 on 600
iteration 351 on 600
iteration 352 on 600
iteration 353 on 600
iteration 354 on 600
iteration 355 on 600
iteration 356 on 600
iteration 357 on 600
iteration 358 on 600
iteration 359 on 600
iteration 360 on 600
iteration 361 on 600
iteration 362 on 600
iteration 363 on 600
iteration 364 on 600
iteration 365 on 600
iteration 366 on 600
iteration 367 on 600
iteration 368 on 600
iteration 369 on 600
iteration 370 on 600
iteration 371 on 600
iteration 372 on 600
iteration 373 on 600
iteration 374 on 600
iteration 375 on 600
iteration 376 on 600
iteration 377 on 600
iteration 378 on 600
iteration 379 on 600
iteration 380 on 600
iteration 381 on 600
iteration 382 on 600
iteration 383 on 600
iteration 384 on 600
iteration 385 on 600
iteration 386 on 600
iteration 387 on 600
iteration 388 on 600
iteration 389 on 600
iteration 390 on 600
iteration 391 on 600
iteration 392 on 600
iteration 393 on 600
iteration 394 on 600
iteration 395 on 600
iteration 396 on 600
iteration 397 on 600
iteration 398 on 600
iteration 399 on 600
iteration 400 on 600
iteration 401 on 600
iteration 402 on 600
iteration 403 on 600
iteration 404 on 600
iteration 405 on 600
iteration 406 on 600
iteration 407 on 600
iteration 408 on 600
iteration 409 on 600
iteration 410 on 600
iteration 411 on 600
iteration 412 on 600
iteration 413 on 600
iteration 414 on 600
iteration 415 on 600
iteration 416 on 600
iteration 417 on 600
iteration 418 on 600
iteration 419 on 600
iteration 420 on 600
iteration 421 on 600
iteration 422 on 600
iteration 423 on 600
iteration 424 on 600
iteration 425 on 600
iteration 426 on 600
iteration 427 on 600
iteration 428 on 600
iteration 429 on 600
iteration 430 on 600
iteration 431 on 600
iteration 432 on 600
iteration 433 on 600
iteration 434 on 600
iteration 435 on 600
iteration 436 on 600
iteration 437 on 600
iteration 438 on 600
iteration 439 on 600
iteration 440 on 600
iteration 441 on 600
iteration 442 on 600
iteration 443 on 600
iteration 444 on 600
iteration 445 on 600
iteration 446 on 600
iteration 447 on 600
iteration 448 on 600
iteration 449 on 600
iteration 450 on 600
iteration 451 on 600
iteration 452 on 600
iteration 453 on 600
iteration 454 on 600
iteration 455 on 600
iteration 456 on 600
iteration 457 on 600
iteration 458 on 600
iteration 459 on 600
iteration 460 on 600
iteration 461 on 600
iteration 462 on 600
iteration 463 on 600
iteration 464 on 600
iteration 465 on 600
iteration 466 on 600
iteration 467 on 600
iteration 468 on 600
iteration 469 on 600
iteration 470 on 600
iteration 471 on 600
iteration 472 on 600
iteration 473 on 600
iteration 474 on 600
iteration 475 on 600
iteration 476 on 600
iteration 477 on 600
iteration 478 on 600
iteration 479 on 600
iteration 480 on 600
iteration 481 on 600
iteration 482 on 600
iteration 483 on 600
iteration 484 on 600
iteration 485 on 600
iteration 486 on 600
iteration 487 on 600
iteration 488 on 600
iteration 489 on 600
iteration 490 on 600
iteration 491 on 600
iteration 492 on 600
iteration 493 on 600
iteration 494 on 600
iteration 495 on 600
iteration 496 on 600
iteration 497 on 600
iteration 498 on 600
iteration 499 on 600
iteration 500 on 600
iteration 501 on 600
iteration 502 on 600
iteration 503 on 600
iteration 504 on 600
iteration 505 on 600
iteration 506 on 600
iteration 507 on 600
iteration 508 on 600
iteration 509 on 600
iteration 510 on 600
iteration 511 on 600
iteration 512 on 600
iteration 513 on 600
iteration 514 on 600
iteration 515 on 600
iteration 516 on 600
iteration 517 on 600
iteration 518 on 600
iteration 519 on 600
iteration 520 on 600
iteration 521 on 600
iteration 522 on 600
iteration 523 on 600
iteration 524 on 600
iteration 525 on 600
iteration 526 on 600
iteration 527 on 600
iteration 528 on 600
iteration 529 on 600
iteration 530 on 600
iteration 531 on 600
iteration 532 on 600
iteration 533 on 600
iteration 534 on 600
iteration 535 on 600
iteration 536 on 600
iteration 537 on 600
iteration 538 on 600
iteration 539 on 600
iteration 540 on 600
iteration 541 on 600
iteration 542 on 600
iteration 543 on 600
iteration 544 on 600
iteration 545 on 600
iteration 546 on 600
iteration 547 on 600
iteration 548 on 600
iteration 549 on 600
iteration 550 on 600
iteration 551 on 600
iteration 552 on 600
iteration 553 on 600
iteration 554 on 600
iteration 555 on 600
iteration 556 on 600
iteration 557 on 600
iteration 558 on 600
iteration 559 on 600
iteration 560 on 600
iteration 561 on 600
iteration 562 on 600
iteration 563 on 600
iteration 564 on 600
iteration 565 on 600
iteration 566 on 600
iteration 567 on 600
iteration 568 on 600
iteration 569 on 600
iteration 570 on 600
iteration 571 on 600
iteration 572 on 600
iteration 573 on 600
iteration 574 on 600
iteration 575 on 600
iteration 576 on 600
iteration 577 on 600
iteration 578 on 600
iteration 579 on 600
iteration 580 on 600
iteration 581 on 600
iteration 582 on 600
iteration 583 on 600
iteration 584 on 600
iteration 585 on 600
iteration 586 on 600
iteration 587 on 600
iteration 588 on 600
iteration 589 on 600
iteration 590 on 600
iteration 591 on 600
iteration 592 on 600
iteration 593 on 600
iteration 594 on 600
iteration 595 on 600
iteration 596 on 600
iteration 597 on 600
iteration 598 on 600
iteration 599 on 600

In [2]:
out[0].get_contents()[1]["customers"]._table

                   MSISDN
0000000000  0032478721241
0000000001  0032478242305
0000000002  0032473942735
0000000003  0032476053706
0000000004  0032475285531
0000000005  0032477478674
0000000006  0032479328653
0000000007  0032476081367
0000000008  0032476504058
0000000009  0032479599658
0000000010  0032476086886
0000000011  0032478157924
0000000012  0032472327922
0000000013  0032472677657
0000000014  0032475568602
0000000015  0032476213229
0000000016  0032479922117
0000000017  0032473435415
0000000018  0032477903660
0000000019  0032473505482
0000000020  0032475930087
0000000021  0032478630264
0000000022  0032477442558
0000000023  0032472456631
0000000024  0032473420596
0000000025  0032478183739
0000000026  0032475286901
0000000027  0032473325339
0000000028  0032478038562
0000000029  0032475314390
...                   ...
0000000970  0032476850548
0000000971  0032478903806
0000000972  0032477696202
0000000973  0032478732570
0000000974  0032472375305
0000000975  0032479665104
0000000976  0032476231442
0000000977  0032472577292
0000000978  0032473252613
0000000979  0032477306999
0000000980  0032476759234
0000000981  0032473587682
0000000982  0032479692192
0000000983  0032475853650
0000000984  0032478139986
0000000985  0032478962339
0000000986  0032477518741
0000000987  0032477202045
0000000988  0032476238750
0000000989  0032477997541
0000000990  0032475432306
0000000991  0032479598504
0000000992  0032476932100
0000000993  0032476079134
0000000994  0032479188941
0000000995  0032476689719
0000000996  0032478098992
0000000997  0032479545676
0000000998  0032472356491
0000000999  0032479511119

[1000 rows x 1 columns]

In [3]:
out[1]

,A,PRODUCT,DURATION,TYPE,VALUE,B,PASS_CONDITIONS,datetime,A_NUMBER,B_NUMBER,CELL_A,CELL_B
0,0000000590,VOICE,85.0,VOICE,85.0,0000000044,1,08062016 00:00:01,0032479807263,0032473948565,CELL_0007,CELL_0071
1,0000000590,SMS,NaN,SMS,10.0,0000000552,1,08062016 00:01:50,0032479807263,0032472818954,CELL_0007,CELL_0096
2,0000000590,VOICE,69.0,VOICE,69.0,0000000304,1,08062016 00:02:49,0032479807263,0032477146159,CELL_0007,CELL_0055
3,0000000698,SMS,NaN,SMS,10.0,0000000572,1,08062016 00:02:56,0032477609902,0032473962429,CELL_0050,CELL_0042
4,0000000590,VOICE,76.0,VOICE,76.0,0000000304,1,08062016 00:03:43,0032479807263,0032477146159,CELL_0007,CELL_0055
5,0000000302,VOICE,191.0,VOICE,191.0,0000000912,1,08062016 00:04:47,0032477715083,0032479224994,CELL_0078,CELL_0015
6,0000000590,VOICE,63.0,VOICE,63.0,0000000452,1,08062016 00:04:43,0032479807263,0032476072252,CELL_0007,CELL_0067
7,0000000590,SMS,NaN,SMS,10.0,0000000552,1,08062016 00:05:32,0032479807263,0032472818954,CELL_0007,CELL_0096
8,0000000698,VOICE,111.0,VOICE,111.0,0000000022,1,08062016 00:05:23,0032477609902,0032477442558,CELL_0050,CELL_0082
9,0000000213,VOICE,52.0,VOICE,52.0,0000000605,1,08062016 00:06:08,0032472753019,0032475048426,CELL_0022,CELL_0061
10,0000000590,VOICE,235.0,VOICE,235.0,0000000304,1,08062016 00:06:10,0032479807263,0032477146159,CELL_0007,CELL_0055
11,0000000590,VOICE,184.0,VOICE,184.0,0000000452,1,08062016 00:07:12,0032479807263,0032476072252,CELL_0007,CELL_0067
12,0000000590,VOICE,156.0,VOICE,156.0,0000000044,1,08062016 00:08:11,0032479807263,0032473948565,CELL_0007,CELL_0071
13,0000000698,SMS,NaN,SMS,10.0,0000000572,1,08062016 00:08:20,0032477609902,0032473962429,CELL_0050,CELL_0042
14,0000000960,SMS,NaN,SMS,10.0,0000000620,1,08062016 00:08:43,0032478803077,0032473276996,CELL_0058,CELL_0041
15,0000000230,VOICE,222.0,VOICE,222.0,0000000984,1,08062016 00:09:50,0032473596802,0032478139986,CELL_0020,CELL_0072
16,0000000590,VOICE,30.0,VOICE,30.0,0000000252,1,08062016 00:09:22,0032479807263,0032479193562,CELL_0007,CELL_0092
17,0000000205,SMS,NaN,SMS,10.0,0000000044,1,08062016 00:10:55,0032475802511,0032473948565,CELL_0006,CELL_0071
18,0000000590,VOICE,32.0,VOICE,32.0,0000000457,1,08062016 00:10:34,0032479807263,0032479191252,CELL_0007,CELL_0098
19,0000000698,VOICE,95.0,VOICE,95.0,0000000022,1,08062016 00:10:14,0032477609902,0032477442558,CELL_0050,CELL_0082
20,0000000590,SMS,NaN,SMS,10.0,0000000552,1,08062016 00:11:06,0032479807263,0032472818954,CELL_0007,CELL_0096
21,0000000698,VOICE,40.0,VOICE,40.0,0000000068,1,08062016 00:11:42,0032477609902,0032475390535,CELL_0050,CELL_0002
22,0000000701,VOICE,67.0,VOICE,67.0,0000000849,1,08062016 00:11:02,0032473374552,0032476362720,CELL_0001,CELL_0058
23,0000000792,SMS,NaN,SMS,10.0,0000000378,1,08062016 00:11:47,0032472067565,0032478738753,CELL_0059,CELL_0047
24,0000000955,VOICE,198.0,VOICE,198.0,0000000215,1,08062016 00:11:04,0032477624175,0032479965199,CELL_0083,CELL_0028
25,0000000572,VOICE,234.0,VOICE,234.0,0000000938,1,08062016 00:12:52,0032473962429,0032477462741,CELL_0042,CELL_0097
26,0000000583,SMS,NaN,SMS,10.0,0000000017,1,08062016 00:12:23,0032477244772,0032473435415,CELL_0039,CELL_0081
27,0000000590,VOICE,122.0,VOICE,122.0,0000000291,1,08062016 00:12:52,0032479807263,0032473150621,CELL_0007,CELL_0011
28,0000000100,VOICE,139.0,VOICE,139.0,0000000575,1,08062016 00:13:20,0032479156981,0032477351339,CELL_0063,CELL_0034
29,0000000590,SMS,NaN,SMS,10.0,0000000552,1,08062016 00:13:45,0032479807263,0032472818954,CELL_0007,CELL_0096
...,...,...,...,...,...,...,...,...,...,...,...,...
5681,0000000590,VOICE,207.0,VOICE,207.0,0000000304,1,08062016 09:57:08,0032479807263,0032477146159,CELL_0007,CELL_0055
5682,0000000626,SMS,NaN,SMS,10.0,0000000511,1,08062016 09:57:45,0032476969548,0032472253091,CELL_0018,CELL_0003
5683,0000000636,VOICE,137.0,VOICE,137.0,0000000752,1,08062016 09:57:32,0032479906453,0032479385150,CELL_0023,CELL_0051
5684,0000000701,SMS,NaN,SMS,10.0,0000000198,1,08062016 09:57:06,0032473374552,0032479657399,CELL_0001,CELL_0050
5685,0000000029,SMS,NaN,SMS,10.0,0000000149,1,08062016 09:58:44,0032475314390,0032473160786,CELL_0053,CELL_0086
5686,0000000273,VOICE,93.0,VOICE,93.0,0000000805,1,08062016 09:58:48,0032473869017,0032476745063,CELL_0044,CELL_0090
5687,0000000502,VOICE,215.0,VOICE,215.0,0000000066,1,08062016 09:58:17,0032475528167,0032475197657,CELL_0006,CELL_0010
5688,0000000503,VOICE,33.0,VOICE,33.0,0000000577,1,08062016 09:58:23,0032473045941,0032477086316,CELL_0005,CELL_0080
5689,0000000569,VOICE,177.0,VOICE,177.0,0000000020,1,08062016 09:58:23,0032475641433,0032475930087,CELL_0077,CELL_0063
5690,0000000590,SMS,NaN,SMS,10.0,0000000552,1,08062016 09:58:58,0032479807263,0032472818954,CELL_0007,CELL_0076
5691,0000000619,SMS,NaN,SMS,10.0,0000000121,1,08062016 09:58:31,0032476928720,0032472546696,CELL_0010,CELL_0052
5692,0000000698,VOICE,79.0,VOICE,79.0,0000000068,1,08062016 09:58:38,0032477609902,0032475390535,CELL_0050,CELL_0002
5693,0000000908,SMS,NaN,SMS,10.0,0000000650,1,08062016 09:58:25,0032476905022,0032477957334,CELL_0063,CELL_0045
5694,0000000990,VOICE,199.0,VOICE,199.0,0000000205,1,08062016 09:58:00,0032475432306,0032475802511,CELL_0068,CELL_0074
5695,0000000024,VOICE,182.0,VOICE,182.0,0000000120,1,08062016 09:59:53,0032473420596,0032476847240,CELL_0076,CELL_0001
5696,0000000116,SMS,NaN,SMS,10.0,0000000533,1,08062016 09:59:02,0032472400063,0032477703149,CELL_0074,CELL_0038
5697,0000000173,SMS,NaN,SMS,10.0,0000000537,1,08062016 09:59:45,0032476840829,0032475683051,CELL_0035,CELL_0082
5698,0000000215,VOICE,64.0,VOICE,64.0,0000000266,1,08062016 09:59:41,0032479965199,0032473106581,CELL_0028,CELL_0022
5699,0000000357,SMS,NaN,SMS,10.0,0000000326,1,08062016 09:59:32,0032478725536,0032475438105,CELL_0061,CELL_0079
5700,0000000384,VOICE,80.0,VOICE,80.0,0000000623,1,08062016 09:59:36,0032472580153,0032478545942,CELL_0083,CELL_0051
5701,0000000445,SMS,NaN,SMS,10.0,0000000423,1,08062016 09:59:13,0032479019407,0032473696327,CELL_0026,CELL_0059
5702,0000000590,VOICE,169.0,VOICE,169.0,0000000753,1,08062016 09:59:10,0032479807263,0032479837114,CELL_0007,CELL_0078
5703,0000000613,VOICE,102.0,VOICE,102.0,0000000817,1,08062016 09:59:30,0032478910421,0032476135552,CELL_0091,CELL_0061
5704,0000000628,VOICE,23.0,VOICE,23.0,0000000893,1,08062016 09:59:35,0032472757031,0032478327482,CELL_0061,CELL_0074
5705,0000000637,SMS,NaN,SMS,10.0,0000000858,1,08062016 09:59:12,0032476900180,0032477303733,CELL_0085,CELL_0026
5706,0000000691,SMS,NaN,SMS,10.0,0000000447,1,08062016 09:59:40,0032473482872,0032478767528,CELL_0003,CELL_0013
5707,0000000698,SMS,NaN,SMS,10.0,0000000486,1,08062016 09:59:45,0032477609902,0032479488073,CELL_0050,CELL_0019
5708,0000000841,VOICE,185.0,VOICE,185.0,0000000471,1,08062016 09:59:56,0032478147383,0032472242673,CELL_0093,CELL_0021
5709,0000000847,VOICE,36.0,VOICE,36.0,0000000848,1,08062016 09:59:40,0032477710949,0032477328832,CELL_0005,CELL_0003
5710,0000000917,VOICE,229.0,VOICE,229.0,0000000987,1,08062016 09:59:15,0032473272759,0032477202045,CELL_0074,CELL_0051

In [4]:
out[2]

              A           datetime index        new
0    0000000302  08062016 00:16:27   NaN  CELL_0033
1    0000000213  08062016 00:25:17   NaN  CELL_0014
2    0000000960  08062016 00:32:16   NaN  CELL_0057
3    0000000230  08062016 00:37:15   NaN  CELL_0016
4    0000000205  08062016 00:40:04   NaN  CELL_0074
5    0000000792  08062016 00:45:08   NaN  CELL_0060
6    0000000572  08062016 00:47:59   NaN  CELL_0094
7    0000000583  08062016 00:48:51   NaN  CELL_0092
8    0000000814  08062016 00:56:50   NaN  CELL_0031
9    0000000052  08062016 00:57:10   NaN  CELL_0067
10   0000000286  08062016 01:04:19   NaN  CELL_0066
11   0000000157  08062016 01:07:45   NaN  CELL_0085
12   0000000639  08062016 01:16:47   NaN  CELL_0037
13   0000000644  08062016 01:16:36   NaN  CELL_0001
14   0000000120  08062016 01:19:11   NaN  CELL_0001
15   0000000206  08062016 01:19:12   NaN  CELL_0066
16   0000000250  08062016 01:19:02   NaN  CELL_0041
17   0000000854  08062016 01:29:06   NaN  CELL_0090
18   0000000901  08062016 01:39:56   NaN  CELL_0095
19   0000000802  08062016 01:40:09   NaN  CELL_0027
20   0000000252  08062016 01:42:45   NaN  CELL_0015
21   0000000597  08062016 01:43:40   NaN  CELL_0043
22   0000000095  08062016 01:44:16   NaN  CELL_0034
23   0000000137  08062016 01:45:41   NaN  CELL_0071
24   0000000101  08062016 01:47:15   NaN  CELL_0090
25   0000000946  08062016 01:48:19   NaN  CELL_0036
26   0000000462  08062016 01:51:10   NaN  CELL_0097
27   0000000648  08062016 01:53:05   NaN  CELL_0046
28   0000000341  08062016 01:57:37   NaN  CELL_0055
29   0000000618  08062016 01:59:56   NaN  CELL_0021
..          ...                ...   ...        ...
370  0000000816  08062016 09:47:05   NaN  CELL_0071
371  0000000221  08062016 09:48:12   NaN  CELL_0058
372  0000000573  08062016 09:48:10   NaN  CELL_0074
373  0000000984  08062016 09:48:06   NaN  CELL_0033
374  0000000440  08062016 09:49:10   NaN  CELL_0073
375  0000000563  08062016 09:49:37   NaN  CELL_0058
376  0000000088  08062016 09:50:37   NaN  CELL_0082
377  0000000375  08062016 09:50:22   NaN  CELL_0005
378  0000000989  08062016 09:50:49   NaN  CELL_0048
379  0000000010  08062016 09:51:10   NaN  CELL_0051
380  0000000125  08062016 09:51:27   NaN  CELL_0050
381  0000000362  08062016 09:51:14   NaN  CELL_0076
382  0000000883  08062016 09:51:31   NaN  CELL_0041
383  0000000004  08062016 09:53:07   NaN  CELL_0023
384  0000000401  08062016 09:53:55   NaN  CELL_0021
385  0000000393  08062016 09:55:10   NaN  CELL_0031
386  0000000446  08062016 09:55:32   NaN  CELL_0058
387  0000000582  08062016 09:55:34   NaN  CELL_0044
388  0000000587  08062016 09:55:40   NaN  CELL_0058
389  0000000930  08062016 09:55:12   NaN  CELL_0044
390  0000000084  08062016 09:56:26   NaN  CELL_0008
391  0000000497  08062016 09:56:38   NaN  CELL_0071
392  0000000277  08062016 09:58:20   NaN  CELL_0066
393  0000000748  08062016 09:58:10   NaN  CELL_0068
394  0000000037  08062016 09:59:48   NaN  CELL_0039
395  0000000081  08062016 09:59:45   NaN  CELL_0065
396  0000000179  08062016 09:59:52   NaN  CELL_0088
397  0000000422  08062016 09:59:22   NaN  CELL_0004
398  0000000802  08062016 09:59:28   NaN  CELL_0085
399  0000000877  08062016 09:59:14   NaN  CELL_0091

[400 rows x 4 columns]

In [5]:
out[3]

,A,AGENT,CELL,CUSTOMER_NUMBER,VALUE,datetime,index,new
0,0000000590,AGENT_034,CELL_0007,0032479807263,1000.0,08062016 00:00:42,NaN,NaN
1,0000000302,AGENT_020,CELL_0078,0032477715083,1000.0,08062016 00:04:27,NaN,NaN
2,0000000698,AGENT_052,CELL_0050,0032477609902,1000.0,08062016 00:05:36,NaN,NaN
3,0000000213,AGENT_014,CELL_0022,0032472753019,1000.0,08062016 00:06:10,NaN,NaN
4,0000000590,AGENT_057,CELL_0007,0032479807263,1000.0,08062016 00:08:47,NaN,NaN
5,0000000230,AGENT_068,CELL_0020,0032473596802,1000.0,08062016 00:09:38,NaN,NaN
6,0000000701,AGENT_085,CELL_0001,0032473374552,1000.0,08062016 00:11:30,NaN,NaN
7,0000000955,AGENT_099,CELL_0083,0032477624175,1000.0,08062016 00:11:45,NaN,NaN
8,0000000572,AGENT_028,CELL_0042,0032473962429,1000.0,08062016 00:12:20,NaN,NaN
9,0000000100,AGENT_085,CELL_0063,0032479156981,1000.0,08062016 00:13:23,NaN,NaN
10,0000000814,AGENT_057,CELL_0035,0032473626606,1000.0,08062016 00:14:39,NaN,NaN
11,0000000157,AGENT_087,CELL_0002,0032472613122,1000.0,08062016 00:16:20,NaN,NaN
12,0000000261,AGENT_033,CELL_0003,0032475671020,1000.0,08062016 00:16:58,NaN,NaN
13,0000000120,AGENT_017,CELL_0030,0032476847240,1000.0,08062016 00:19:07,NaN,NaN
14,0000000153,AGENT_097,CELL_0016,0032479022915,1000.0,08062016 00:19:31,NaN,NaN
15,0000000557,AGENT_065,CELL_0040,0032479782333,1000.0,08062016 00:19:31,NaN,NaN
16,0000000590,AGENT_051,CELL_0007,0032479807263,1000.0,08062016 00:19:04,NaN,NaN
17,0000000639,AGENT_011,CELL_0093,0032479402983,1000.0,08062016 00:19:50,NaN,NaN
18,0000000644,AGENT_070,CELL_0017,0032475300994,1000.0,08062016 00:19:01,NaN,NaN
19,0000000086,AGENT_043,CELL_0099,0032477423637,1000.0,08062016 00:20:37,NaN,NaN
20,0000000917,AGENT_012,CELL_0074,0032473272759,1000.0,08062016 00:21:19,NaN,NaN
21,0000000854,AGENT_037,CELL_0055,0032476983910,1000.0,08062016 00:22:42,NaN,NaN
22,0000000908,AGENT_053,CELL_0063,0032476905022,1000.0,08062016 00:23:35,NaN,NaN
23,0000000223,AGENT_011,CELL_0010,0032473957285,1000.0,08062016 00:24:37,NaN,NaN
24,0000000698,AGENT_091,CELL_0050,0032477609902,1000.0,08062016 00:24:49,NaN,NaN
25,0000000252,AGENT_030,CELL_0092,0032479193562,1000.0,08062016 00:25:32,NaN,NaN
26,0000000597,AGENT_088,CELL_0021,0032479838344,1000.0,08062016 00:25:03,NaN,NaN
27,0000000626,AGENT_039,CELL_0018,0032476969548,1000.0,08062016 00:25:24,NaN,NaN
28,0000000029,AGENT_067,CELL_0053,0032475314390,1000.0,08062016 00:26:20,NaN,NaN
29,0000000101,AGENT_023,CELL_0072,0032472687201,1000.0,08062016 00:26:04,NaN,NaN
...,...,...,...,...,...,...,...,...
1060,0000000423,AGENT_058,CELL_0059,0032473696327,1000.0,08062016 09:38:26,NaN,NaN
1061,0000000322,AGENT_020,CELL_0038,0032479012115,1000.0,08062016 09:39:18,NaN,NaN
1062,0000000761,AGENT_018,CELL_0007,0032472970899,1000.0,08062016 09:39:20,NaN,NaN
1063,0000000544,AGENT_069,CELL_0023,0032472719453,1000.0,08062016 09:40:32,NaN,NaN
1064,0000000698,AGENT_095,CELL_0050,0032477609902,1000.0,08062016 09:40:26,NaN,NaN
1065,0000000590,AGENT_011,CELL_0007,0032479807263,1000.0,08062016 09:42:54,NaN,NaN
1066,0000000874,AGENT_002,CELL_0005,0032476688580,1000.0,08062016 09:42:08,NaN,NaN
1067,0000000016,AGENT_071,CELL_0048,0032479922117,1000.0,08062016 09:43:12,NaN,NaN
1068,0000000591,AGENT_041,CELL_0091,0032478091184,1000.0,08062016 09:43:06,NaN,NaN
1069,0000000701,AGENT_035,CELL_0001,0032473374552,1000.0,08062016 09:46:44,NaN,NaN
1070,0000000834,AGENT_000,CELL_0070,0032472541383,1000.0,08062016 09:46:04,NaN,NaN
1071,0000000430,AGENT_091,CELL_0083,0032476127820,1000.0,08062016 09:47:49,NaN,NaN
1072,0000000590,AGENT_088,CELL_0007,0032479807263,1000.0,08062016 09:48:11,NaN,NaN
1073,0000000654,AGENT_095,CELL_0053,0032475252091,1000.0,08062016 09:49:32,NaN,NaN
1074,0000000826,AGENT_066,CELL_0019,0032473588805,1000.0,08062016 09:50:25,NaN,NaN
1075,0000000100,AGENT_086,CELL_0063,0032479156981,1000.0,08062016 09:51:30,NaN,NaN
1076,0000000799,AGENT_047,CELL_0063,0032478715879,1000.0,08062016 09:51:56,NaN,NaN
1077,0000000204,AGENT_082,CELL_0097,0032476387406,1000.0,08062016 09:52:19,NaN,NaN
1078,0000000623,AGENT_081,CELL_0051,0032478545942,1000.0,08062016 09:52:05,NaN,NaN
1079,0000000043,AGENT_099,CELL_0003,0032473052537,1000.0,08062016 09:54:49,NaN,NaN
1080,0000000685,AGENT_014,CELL_0004,0032476496535,1000.0,08062016 09:54:00,NaN,NaN
1081,0000000880,AGENT_021,CELL_0070,0032476845455,1000.0,08062016 09:54:19,NaN,NaN
1082,0000000943,AGENT_008,CELL_0080,0032476003422,1000.0,08062016 09:54:40,NaN,NaN
1083,0000000373,AGENT_042,CELL_0030,0032477980539,1000.0,08062016 09:55:32,NaN,NaN
1084,0000000773,AGENT_045,CELL_0089,0032472470671,1000.0,08062016 09:55:32,NaN,NaN
1085,0000000025,AGENT_015,CELL_0026,0032478183739,1000.0,08062016 09:56:42,NaN,NaN
1086,0000000029,AGENT_069,CELL_0053,0032475314390,1000.0,08062016 09:56:24,NaN,NaN
1087,0000000024,AGENT_080,CELL_0076,0032473420596,1000.0,08062016 09:59:40,NaN,NaN
1088,0000000590,AGENT_082,CELL_0007,0032479807263,1000.0,08062016 09:59:40,NaN,NaN
1089,0000000841,AGENT_053,CELL_0093,0032478147383,1000.0,08062016 09:59:56,NaN,NaN