In [1]:
from src.generator import main
out = main()

Parameters
Done
Clock
Done
Generators
Done
initialise Time Generators
Done
Create callers
Done
Added atributes
Creating social network
Done
Done SNA
Mobility
Network created
Done all customers
Creating circus
Done
Start run

In [ ]:
out[0].get_contents()[1]["customers"]._transient_attributes["CELL"]._table

In [2]:
out[1]

,A,PRODUCT,DURATION,TYPE,VALUE,B,PASS_CONDITIONS,datetime,A_NUMBER,B_NUMBER,CELL_A,CELL_B
0,0000000001,VOICE,NaN,NaN,NaN,0000008028,1,08062016 00:35:13,0032478242305,0032477478674,CELL_0058,CELL_0068
1,0000000025,SMS,NaN,NaN,NaN,0000003692,1,08062016 00:46:34,0032478183739,0032476213229,CELL_0093,CELL_0029
2,0000000029,VOICE,NaN,NaN,NaN,0000006668,1,08062016 00:08:18,0032475314390,0032477762451,CELL_0034,CELL_0005
3,0000000031,SMS,NaN,NaN,NaN,0000001405,1,08062016 00:52:01,0032477951929,0032472268901,CELL_0060,CELL_0060
4,0000000052,VOICE,NaN,NaN,NaN,0000005653,1,08062016 00:02:51,0032479896864,0032472723811,CELL_0066,CELL_0058
5,0000000086,SMS,NaN,NaN,NaN,0000002315,1,08062016 00:46:39,0032477423637,0032473720314,CELL_0033,CELL_0089
6,0000000087,SMS,NaN,NaN,NaN,0000008202,1,08062016 00:09:15,0032476652753,0032472789855,CELL_0061,CELL_0018
7,0000000091,SMS,NaN,NaN,NaN,0000005439,1,08062016 00:48:27,0032472634511,0032476847240,CELL_0027,CELL_0093
8,0000000093,VOICE,NaN,NaN,NaN,0000007084,1,08062016 00:00:32,0032478242348,0032477849766,CELL_0087,CELL_0048
9,0000000095,VOICE,NaN,NaN,NaN,0000003528,1,08062016 00:03:35,0032478280902,0032477040757,CELL_0051,CELL_0066
10,0000000100,VOICE,NaN,NaN,NaN,0000001107,1,08062016 00:11:16,0032479156981,0032477194480,CELL_0044,CELL_0056
11,0000000101,VOICE,NaN,NaN,NaN,0000009713,1,08062016 00:36:24,0032472687201,0032476937218,CELL_0061,CELL_0020
12,0000000111,VOICE,NaN,NaN,NaN,0000006055,1,08062016 00:41:46,0032476783177,0032479965199,CELL_0080,CELL_0010
13,0000000120,VOICE,NaN,NaN,NaN,0000003161,1,08062016 00:21:30,0032476847240,0032477149706,CELL_0093,CELL_0078
14,0000000137,SMS,NaN,NaN,NaN,0000002767,1,08062016 00:55:40,0032473258936,0032477278222,CELL_0025,CELL_0044
15,0000000141,VOICE,NaN,NaN,NaN,0000005701,1,08062016 00:43:00,0032477040757,0032475954047,CELL_0066,CELL_0087
16,0000000144,VOICE,NaN,NaN,NaN,0000006192,1,08062016 00:16:43,0032478895346,0032475954047,CELL_0058,CELL_0087
17,0000000150,SMS,NaN,NaN,NaN,0000001053,1,08062016 00:05:03,0032479082243,0032472157622,CELL_0000,CELL_0045
18,0000000153,SMS,NaN,NaN,NaN,0000006452,1,08062016 00:45:38,0032479022915,0032477907234,CELL_0087,CELL_0013
19,0000000157,VOICE,NaN,NaN,NaN,0000004491,1,08062016 00:07:50,0032472613122,0032473869017,CELL_0069,CELL_0043
20,0000000177,SMS,NaN,NaN,NaN,0000000240,1,08062016 00:48:38,0032475782388,0032475970605,CELL_0067,CELL_0023
21,0000000180,VOICE,NaN,NaN,NaN,0000000974,1,08062016 00:26:10,0032477055804,0032479709587,CELL_0001,CELL_0021
22,0000000188,VOICE,NaN,NaN,NaN,0000008602,1,08062016 00:15:10,0032476593495,0032478588031,CELL_0079,CELL_0082
23,0000000205,SMS,NaN,NaN,NaN,0000004298,1,08062016 00:11:50,0032475802511,0032477715083,CELL_0039,CELL_0054
24,0000000206,SMS,NaN,NaN,NaN,0000004793,1,08062016 00:37:22,0032473181482,0032478329960,CELL_0046,CELL_0076
25,0000000213,VOICE,NaN,NaN,NaN,0000008840,1,08062016 00:19:59,0032472753019,0032472156325,CELL_0074,CELL_0036
26,0000000223,SMS,NaN,NaN,NaN,0000008026,1,08062016 00:10:06,0032473957285,0032478907010,CELL_0062,CELL_0097
27,0000000230,VOICE,NaN,NaN,NaN,0000008080,1,08062016 00:49:49,0032473596802,0032473799224,CELL_0073,CELL_0001
28,0000000250,VOICE,NaN,NaN,NaN,0000008631,1,08062016 00:31:48,0032473515348,0032479048943,CELL_0033,CELL_0073
29,0000000252,SMS,NaN,NaN,NaN,0000007935,1,08062016 00:54:47,0032479193562,0032473744568,CELL_0076,CELL_0035
...,...,...,...,...,...,...,...,...,...,...,...,...
28254,0000009904,VOICE,NaN,NaN,NaN,0000003091,1,08062016 09:31:05,0032478326296,0032478566516,CELL_0000,CELL_0027
28255,0000009905,VOICE,NaN,NaN,NaN,0000004431,1,08062016 09:03:02,0032476173869,0032472908367,CELL_0025,CELL_0050
28256,0000009908,VOICE,NaN,NaN,NaN,0000001008,1,08062016 09:57:06,0032475153126,0032475798510,CELL_0038,CELL_0037
28257,0000009922,VOICE,NaN,NaN,NaN,0000000099,1,08062016 09:56:24,0032473154379,0032479301251,CELL_0099,CELL_0055
28258,0000009929,VOICE,NaN,NaN,NaN,0000001954,1,08062016 09:41:37,0032476528343,0032478326296,CELL_0099,CELL_0000
28259,0000009930,VOICE,NaN,NaN,NaN,0000002194,1,08062016 09:22:51,0032472772405,0032478513475,CELL_0091,CELL_0070
28260,0000009932,SMS,NaN,NaN,NaN,0000001823,1,08062016 09:58:48,0032476724785,0032477510004,CELL_0020,CELL_0056
28261,0000009934,SMS,NaN,NaN,NaN,0000008662,1,08062016 09:14:44,0032477142700,0032472077310,CELL_0016,CELL_0016
28262,0000009938,SMS,NaN,NaN,NaN,0000006887,1,08062016 09:57:27,0032476444937,0032472077310,CELL_0039,CELL_0016
28263,0000009943,VOICE,NaN,NaN,NaN,0000001307,1,08062016 09:15:43,0032477920627,0032478183402,CELL_0024,CELL_0059
28264,0000009945,VOICE,NaN,NaN,NaN,0000000097,1,08062016 09:49:46,0032477922698,0032475850790,CELL_0004,CELL_0089
28265,0000009948,VOICE,NaN,NaN,NaN,0000001248,1,08062016 09:12:33,0032479847850,0032479030053,CELL_0078,CELL_0030
28266,0000009950,VOICE,NaN,NaN,NaN,0000001420,1,08062016 09:15:59,0032477010701,0032479642292,CELL_0096,CELL_0071
28267,0000009951,SMS,NaN,NaN,NaN,0000007914,1,08062016 09:14:02,0032472948359,0032476528343,CELL_0050,CELL_0099
28268,0000009954,VOICE,NaN,NaN,NaN,0000000226,1,08062016 09:35:31,0032478035936,0032476528343,CELL_0041,CELL_0099
28269,0000009959,SMS,NaN,NaN,NaN,0000006509,1,08062016 09:15:05,0032477993241,0032476528343,CELL_0057,CELL_0099
28270,0000009961,VOICE,NaN,NaN,NaN,0000000555,1,08062016 09:18:28,0032472683469,0032475346665,CELL_0070,CELL_0009
28271,0000009965,VOICE,NaN,NaN,NaN,0000005135,1,08062016 09:31:26,0032477429979,0032477460594,CELL_0025,CELL_0025
28272,0000009968,SMS,NaN,NaN,NaN,0000008354,1,08062016 09:46:31,0032472110501,0032476947202,CELL_0012,CELL_0055
28273,0000009969,SMS,NaN,NaN,NaN,0000008285,1,08062016 09:10:37,0032476258705,0032477920627,CELL_0079,CELL_0024
28274,0000009970,SMS,NaN,NaN,NaN,0000002149,1,08062016 09:15:00,0032476544160,0032477922698,CELL_0034,CELL_0004
28275,0000009971,VOICE,NaN,NaN,NaN,0000003885,1,08062016 09:37:15,0032472934230,0032472948359,CELL_0090,CELL_0050
28276,0000009972,SMS,NaN,NaN,NaN,0000006839,1,08062016 09:08:49,0032473972909,0032475222036,CELL_0051,CELL_0071
28277,0000009976,SMS,NaN,NaN,NaN,0000001847,1,08062016 09:50:58,0032478457508,0032479679260,CELL_0069,CELL_0084
28278,0000009978,SMS,NaN,NaN,NaN,0000002203,1,08062016 09:05:35,0032472431439,0032476680925,CELL_0082,CELL_0095
28279,0000009979,VOICE,NaN,NaN,NaN,0000001997,1,08062016 09:29:08,0032473832710,0032473972909,CELL_0004,CELL_0051
28280,0000009981,VOICE,NaN,NaN,NaN,0000006857,1,08062016 09:59:15,0032475831742,0032473408733,CELL_0078,CELL_0022
28281,0000009984,VOICE,NaN,NaN,NaN,0000002776,1,08062016 09:03:46,0032479468234,0032473115755,CELL_0043,CELL_0070
28282,0000009992,SMS,NaN,NaN,NaN,0000007832,1,08062016 09:27:37,0032472411279,0032472014340,CELL_0061,CELL_0053
28283,0000009993,VOICE,NaN,NaN,NaN,0000000367,1,08062016 09:02:48,0032473949163,0032479642556,CELL_0090,CELL_0028

In [ ]:
out[2]

In [ ]:
out[3]

In [ ]:
from src.util_functions import assign_random_proportions

x = assign_random_proportions("A","Product",range(10),range(2),123456)

In [ ]:
x