In [1]:
import networkx as nx
import pandas as pd

from src.random_generators import *
from src.generator import *
mygen = MSISDNGenerator("msisdn-test-1","0032",["472","473","475","476","477","478","479"],6,123456)
timegen = GenericGenerator("time-generator","choice",{"a":12,"p":[0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.05,0.05,0.05,0.05]},123456)
networkchooser = Chooser(123456)

n_customers = 10

In [2]:
customers = CustomerActor(n_customers)
customers.add_attribute("MSISDN",mygen)
customers.update_attribute("clock",timegen)

social_network = pd.DataFrame.from_records(nx.fast_gnp_random_graph(n_customers,0.2,123456).edges(),columns=["A","B"])

network = Relationship("A","B",networkchooser)
network.add_relation("A",social_network["A"].values,"B",social_network["B"].values)

In [3]:
customers._table

   ID  clock         MSISDN
0   0      1  0032478721241
1   1     11  0032478242305
2   2      2  0032473942735
3   3      9  0032476053706
4   4      3  0032475285531
5   5      3  0032477478674
6   6      4  0032479328653
7   7      8  0032476081367
8   8      1  0032476504058
9   9      5  0032479599658

In [4]:
customers.make_calls(network,networkchooser,timegen)

Empty DataFrame
Columns: [A, B]
Index: []

In [5]:
customers.make_calls(network,networkchooser,timegen)

   A  B
0  0  6

In [7]:
customers.make_calls(network,networkchooser,timegen)

   A  B
0  2  7

In [ ]:
customers._table

In [ ]:
customers.who_acts_now()

In [ ]:
customers.update_clock()
customers.who_acts_now()

In [ ]:
output = customers.make_actions(timegen)

In [ ]:
output

In [ ]:
customers._table

In [6]:
network._table

    A  B
0   0  6
1   1  8
2   1  4
3   1  6
4   2  6
5   2  7
6   3  6
7   3  7
8   4  8
9   5  8
10  5  7
11  6  7
12  6  8