In [1]:
import networkx as nx
import pandas as pd

from src.random_generators import *
from src.generator import *
mygen = MSISDNGenerator("msisdn-test-1","0032",["472","473","475","476","477","478","479"],6,123456)
timegen = GenericGenerator("time-generator","choice",{"a":12,"p":[0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.05,0.05,0.05,0.05]},123456)
networkchooser = WeightedChooserAggregator("B","weight",123456)
networkweightgenerator = GenericGenerator("network-weight","pareto",{"a":1.2,"m":1.},123456)


n_customers = 10

In [2]:
customers = CustomerActor(n_customers)
customers.add_attribute("MSISDN",mygen)
customers.update_attribute("clock",timegen)

social_network = pd.DataFrame.from_records(nx.fast_gnp_random_graph(n_customers,0.4,123456).edges(),columns=["A","B"])

network = WeightedRelationship("A","B",networkchooser)
network.add_relation("A",social_network["A"].values,"B",social_network["B"].values,networkweightgenerator.generate(len(social_network.index)))

In [3]:
customers._table

   ID  clock         MSISDN
0   0      1  0032478721241
1   1     11  0032478242305
2   2      2  0032473942735
3   3      9  0032476053706
4   4      3  0032475285531
5   5      3  0032477478674
6   6      4  0032479328653
7   7      8  0032476081367
8   8      1  0032476504058
9   9      5  0032479599658

In [5]:
customers.make_calls(network,networkchooser,timegen)

Empty DataFrame
Columns: [A, B]
Index: []

In [6]:
customers.make_calls(network,networkchooser,timegen)

   A  B  weight
0  0  5       5

In [7]:
customers.make_calls(network,networkchooser,timegen)

   A  B  weight
0  2  6       6

In [8]:
customers._table

   ID  clock         MSISDN
0   0      1  0032478721241
1   1      8  0032478242305
2   2      0  0032473942735
3   3      6  0032476053706
4   4      0  0032475285531
5   5      0  0032477478674
6   6      1  0032479328653
7   7      5  0032476081367
8   8      2  0032476504058
9   9      2  0032479599658

In [ ]:
customers.who_acts_now()

In [ ]:
customers.update_clock()
customers.who_acts_now()

In [ ]:
output = customers.make_actions(timegen)

In [ ]:
output

In [ ]:
customers._table

In [4]:
network._table

    A  B     weight
0   0  3   1.119805
1   0  5  17.040816
2   0  6   1.285898
3   0  7   6.659900
4   1  4   1.482909
5   1  6   1.407065
6   2  8   1.649192
7   2  9   4.611166
8   2  4   1.115687
9   2  6   1.920542
10  3  8   1.475539
11  3  4   1.640774
12  3  5   1.122453
13  4  5   5.143356
14  4  6   4.182038
15  4  9   1.435657
16  5  6   1.241848
17  5  7   3.489221
18  6  7   2.122890
19  6  9   1.131245
20  7  8   4.939188