In [ ]:
from src.clock import TimeProfiler, Clock
import pandas as pd
from datetime import timedelta, datetime

prof = pd.Series([1.,2.,1.,1.,1.,1.,1.],
    index=[timedelta(hours=23,minutes=59,seconds=59),
                       timedelta(days=1,hours=23,minutes=59,seconds=59),
                       timedelta(days=2,hours=23,minutes=59,seconds=59),
                       timedelta(days=3,hours=23,minutes=59,seconds=59),
                       timedelta(days=4,hours=23,minutes=59,seconds=59),
                       timedelta(days=5,hours=23,minutes=59,seconds=59),
                       timedelta(days=6,hours=23,minutes=59,seconds=59)])

x = TimeProfiler(3600,prof,seed=123456)

In [ ]:
cl = Clock(datetime(year=2016,month=6,day=8),step=3600,format_for_out="%d%m%Y %H:%M:%S",seed=123456)

In [ ]:
x.initialise(cl)

In [ ]:
y = x.get_profile()

In [ ]:
x.increment()

In [ ]:
y2 = x.get_profile()

In [ ]:
w = pd.Series([10,14,8,18,3],index=range(1,6))
x.get_next_steps(w)

In [ ]:
x.get_next_steps(w)

In [1]:
from src.generator import main
out = main()

1 CDRs generated
2 CDRs generated
3 CDRs generated
6 CDRs generated
4 CDRs generated
2 CDRs generated
4 CDRs generated
3 CDRs generated
2 CDRs generated
3 CDRs generated
2 CDRs generated
3 CDRs generated
5 CDRs generated
3 CDRs generated
2 CDRs generated
3 CDRs generated
4 CDRs generated
2 CDRs generated
2 CDRs generated
4 CDRs generated
1 CDRs generated
6 CDRs generated
1 CDRs generated
3 CDRs generated
2 CDRs generated
3 CDRs generated
4 CDRs generated
2 CDRs generated
2 CDRs generated
3 CDRs generated
2 CDRs generated
4 CDRs generated
4 CDRs generated
3 CDRs generated
3 CDRs generated
2 CDRs generated
2 CDRs generated
3 CDRs generated
3 CDRs generated
2 CDRs generated
4 CDRs generated
4 CDRs generated
2 CDRs generated
3 CDRs generated
2 CDRs generated
2 CDRs generated
3 CDRs generated
1 CDRs generated
4 CDRs generated
2 CDRs generated
5 CDRs generated
2 CDRs generated
4 CDRs generated
2 CDRs generated
2 CDRs generated
2 CDRs generated
4 CDRs generated
2 CDRs generated
3 CDRs generated
3 CDRs generated
2 CDRs generated
2 CDRs generated
5 CDRs generated
4 CDRs generated
3 CDRs generated
3 CDRs generated
1 CDRs generated
2 CDRs generated
3 CDRs generated
4 CDRs generated
3 CDRs generated
3 CDRs generated
2 CDRs generated
2 CDRs generated
2 CDRs generated
3 CDRs generated
2 CDRs generated
2 CDRs generated
3 CDRs generated
1 CDRs generated
3 CDRs generated
1 CDRs generated
2 CDRs generated
1 CDRs generated
3 CDRs generated
2 CDRs generated
3 CDRs generated
1 CDRs generated
4 CDRs generated
2 CDRs generated
0 CDRs generated
3 CDRs generated
1 CDRs generated
1 CDRs generated
2 CDRs generated
2 CDRs generated
3 CDRs generated
1 CDRs generated
1 CDRs generated
2 CDRs generated

In [2]:
out[0].get_contents()[1]["customers"]._table

   ID    activity  clock         MSISDN
0   0   11.198047      1  0032478721241
1   1  170.408164      0  0032478242305
2   2   12.858978      1  0032473942735
3   3   66.598996      1  0032476053706
4   4   14.829093     11  0032475285531
5   5   14.070650      8  0032477478674
6   6   16.491923      2  0032479328653
7   7   46.111664      2  0032476081367
8   8   11.156873      6  0032476504058
9   9   19.205425      5  0032479599658

In [3]:
out[1]

       A    B           datetime  index  weight
0    1.0  4.0  08062016 00:35:13    NaN     4.0
1    0.0  7.0  08062016 01:46:34    NaN     7.0
2    1.0  4.0  08062016 01:08:18    NaN     4.0
3    1.0  6.0  08062016 02:52:01    NaN     6.0
4    3.0  4.0  08062016 02:02:51    NaN     4.0
5    7.0  8.0  08062016 02:46:39    NaN     8.0
6    1.0  4.0  08062016 03:09:15    NaN     4.0
7    2.0  6.0  08062016 03:48:27    NaN     6.0
8    3.0  8.0  08062016 03:00:32    NaN     8.0
9    4.0  6.0  08062016 03:03:35    NaN     6.0
10   5.0  7.0  08062016 03:11:16    NaN     7.0
11   7.0  8.0  08062016 03:36:24    NaN     8.0
12   1.0  4.0  08062016 04:41:46    NaN     4.0
13   3.0  5.0  08062016 04:21:30    NaN     5.0
14   6.0  9.0  08062016 04:55:40    NaN     9.0
15   7.0  8.0  08062016 04:43:00    NaN     8.0
16   1.0  4.0  08062016 05:16:43    NaN     4.0
17   6.0  9.0  08062016 05:05:03    NaN     9.0
18   1.0  6.0  08062016 06:45:38    NaN     6.0
19   3.0  8.0  08062016 06:07:50    NaN     8.0
20   5.0  7.0  08062016 06:48:38    NaN     7.0
21   7.0  8.0  08062016 06:26:10    NaN     8.0
22   0.0  5.0  08062016 07:15:10    NaN     5.0
23   1.0  6.0  08062016 07:11:50    NaN     6.0
24   3.0  4.0  08062016 07:37:22    NaN     4.0
25   1.0  4.0  08062016 08:19:59    NaN     4.0
26   3.0  4.0  08062016 08:10:06    NaN     4.0
27   1.0  4.0  08062016 09:49:49    NaN     4.0
28   3.0  8.0  08062016 09:31:48    NaN     8.0
29   7.0  8.0  08062016 09:54:47    NaN     8.0
..   ...  ...                ...    ...     ...
231  3.0  4.0  11062016 12:22:50    NaN     4.0
232  7.0  8.0  11062016 12:32:32    NaN     8.0
233  1.0  6.0  11062016 13:13:42    NaN     6.0
234  7.0  8.0  11062016 13:22:14    NaN     8.0
235  1.0  4.0  11062016 14:32:38    NaN     4.0
236  3.0  4.0  11062016 14:26:35    NaN     4.0
237  5.0  7.0  11062016 14:35:16    NaN     7.0
238  1.0  6.0  11062016 15:58:30    NaN     6.0
239  1.0  6.0  11062016 16:17:19    NaN     6.0
240  2.0  4.0  11062016 16:26:03    NaN     4.0
241  3.0  8.0  11062016 16:28:03    NaN     8.0
242  7.0  8.0  11062016 16:42:17    NaN     8.0
243  1.0  4.0  11062016 17:19:43    NaN     4.0
244  6.0  7.0  11062016 17:52:53    NaN     7.0
245  1.0  4.0  11062016 19:12:39    NaN     4.0
246  3.0  5.0  11062016 19:05:40    NaN     5.0
247  7.0  8.0  11062016 19:21:04    NaN     8.0
248  1.0  6.0  11062016 20:08:12    NaN     6.0
249  7.0  8.0  11062016 21:34:24    NaN     8.0
250  1.0  4.0  11062016 22:05:04    NaN     4.0
251  3.0  4.0  11062016 22:12:03    NaN     4.0
252  0.0  3.0  11062016 23:44:24    NaN     3.0
253  7.0  8.0  11062016 23:07:33    NaN     8.0
254  1.0  6.0  12062016 00:29:56    NaN     6.0
255  4.0  5.0  12062016 00:04:12    NaN     5.0
256  7.0  8.0  12062016 00:31:51    NaN     8.0
257  1.0  6.0  12062016 01:14:08    NaN     6.0
258  3.0  8.0  12062016 02:11:12    NaN     8.0
259  1.0  4.0  12062016 03:05:03    NaN     4.0
260  5.0  7.0  12062016 03:04:41    NaN     7.0

[261 rows x 5 columns]