In [ ]:
import networkx as nx
import pandas as pd

from src.random_generators import *
from src.actor import *
mygen = MSISDNGenerator("msisdn-test-1","0032",["472","473","475","476","477","478","479"],6,123456)
timegen = GenericGenerator("time-generator","choice",{"a":12,"p":[0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.05,0.05,0.05,0.05]},123456)
networkchooser = WeightedChooserAggregator("B","weight",123456)
networkweightgenerator = GenericGenerator("network-weight","pareto",{"a":1.2,"m":1.},123456)


n_customers = 10

In [ ]:
customers = CustomerActor(n_customers)
customers.add_attribute("MSISDN",mygen)
customers.update_attribute("clock",timegen)

social_network = pd.DataFrame.from_records(nx.fast_gnp_random_graph(n_customers,0.4,123456).edges(),columns=["A","B"])

network = WeightedRelationship("A","B",networkchooser)
network.add_relation("A",social_network["A"].values,"B",social_network["B"].values,networkweightgenerator.generate(len(social_network.index)))

In [ ]:
customers._table

In [ ]:
customers.make_calls(network,networkchooser,timegen)

In [ ]:
customers.make_calls(network,networkchooser,timegen)

In [ ]:
customers.make_calls(network,networkchooser,timegen)

In [ ]:
customers._table

In [ ]:
customers.who_acts_now()

In [ ]:
customers.update_clock()
customers.who_acts_now()

In [ ]:
output = customers.make_actions(timegen)

In [ ]:
output

In [ ]:
customers._table

In [ ]:
network._table

In [ ]:
from src.clock import TimeProfiler, Clock

In [ ]:
import pandas as pd
from datetime import timedelta, datetime

prof = pd.Series([1.,2.,1.,1.,1.,1.,1.],
    index=[timedelta(hours=23,minutes=59,seconds=59),
                       timedelta(days=1,hours=23,minutes=59,seconds=59),
                       timedelta(days=2,hours=23,minutes=59,seconds=59),
                       timedelta(days=3,hours=23,minutes=59,seconds=59),
                       timedelta(days=4,hours=23,minutes=59,seconds=59),
                       timedelta(days=5,hours=23,minutes=59,seconds=59),
                       timedelta(days=6,hours=23,minutes=59,seconds=59)])

x = TimeProfiler(3600,prof,seed=123456)

In [ ]:
cl = Clock(datetime(year=2016,month=6,day=8),step=3600,format_for_out="%d%m%Y %H:%M:%S",seed=123456)

In [ ]:
x.initialise(cl)

In [ ]:
y = x.get_profile()

In [ ]:
x.increment()

In [ ]:
y2 = x.get_profile()

In [ ]:
w = pd.Series([10,14,8,18,3],index=range(1,6))
x.get_next_steps(w)

In [ ]:
x.get_next_steps(w)

In [1]:
from src.generator import main
main()

     A    B           datetime  index  weight
0  1.0  4.0  08062016 00:35:13    NaN     4.0
0  0.0  7.0  08062016 01:46:34    NaN     7.0
0  3.0  8.0  08062016 02:08:18    NaN     8.0
1  7.0  8.0  08062016 02:52:01    NaN     8.0
0  2.0  9.0  08062016 03:02:51    NaN     9.0
1  3.0  8.0  08062016 03:46:39    NaN     8.0
2  4.0  5.0  08062016 03:09:15    NaN     5.0
3  5.0  7.0  08062016 03:48:27    NaN     7.0
0  3.0  8.0  08062016 04:00:32    NaN     8.0
1  5.0  7.0  08062016 04:03:35    NaN     7.0
2  6.0  7.0  08062016 04:11:16    NaN     7.0
3  7.0  8.0  08062016 04:36:24    NaN     8.0
0  2.0  8.0  08062016 05:41:46    NaN     8.0
1  3.0  5.0  08062016 05:21:30    NaN     5.0
2  6.0  9.0  08062016 05:55:40    NaN     9.0
3  7.0  8.0  08062016 05:43:00    NaN     8.0
0  0.0  5.0  08062016 06:16:43    NaN     5.0
1  3.0  5.0  08062016 06:05:03    NaN     5.0
2  5.0  7.0  08062016 06:45:38    NaN     7.0
3  7.0  8.0  08062016 06:07:50    NaN     8.0
0  6.0  9.0  08062016 07:48:38    NaN     9.0
0  3.0  8.0  08062016 08:26:10    NaN     8.0
1  4.0  5.0  08062016 08:15:10    NaN     5.0
2  7.0  8.0  08062016 08:11:50    NaN     8.0
0  4.0  6.0  08062016 09:37:22    NaN     6.0
1  7.0  8.0  08062016 09:19:59    NaN     8.0
0  6.0  7.0  08062016 10:10:06    NaN     7.0
1  7.0  8.0  08062016 10:49:49    NaN     8.0
0  4.0  5.0  08062016 11:31:48    NaN     5.0
1  7.0  8.0  08062016 11:54:47    NaN     8.0
0  4.0  9.0  08062016 17:54:44    NaN     9.0
1  6.0  7.0  08062016 17:54:44    NaN     7.0
0  0.0  7.0  08062016 19:24:13    NaN     7.0
0  4.0  6.0  08062016 20:16:59    NaN     6.0
0  6.0  7.0  08062016 22:16:05    NaN     7.0
0  0.0  5.0  09062016 04:16:49    NaN     5.0
0  0.0  5.0  09062016 15:33:27    NaN     5.0
0  0.0  5.0  10062016 00:53:56    NaN     5.0
0  0.0  5.0  10062016 07:24:43    NaN     5.0
0  0.0  5.0  10062016 08:06:59    NaN     5.0
0  0.0  5.0  10062016 09:16:29    NaN     5.0
0  0.0  7.0  10062016 21:28:23    NaN     7.0
0  0.0  5.0  11062016 09:07:24    NaN     5.0
0  0.0  5.0  12062016 00:14:26    NaN     5.0
0  0.0  5.0  12062016 01:51:30    NaN     5.0