In [1]:
from src.generator import main
out = main()

Parameters
Done
Clock
Done
Generators
Done
initialise Time Generators
Done
Create callers
Done
Added atributes
Creating social network
Done
Done SNA
Mobility
Network created
Agent relationship created
Done all customers
Creating circus
Done
Start run

In [2]:
out[0].get_contents()[1]["customers"]._transient_attributes["MAIN_ACCT"]._table

            activity  clock   value
0000000000       1.0     -8  1970.0
0000000001       1.0    -10  1809.0
0000000002       1.0     -5  1980.0
0000000003       1.0     -3  1684.0
0000000004       1.0     -7  1810.0
0000000005       1.0    -11   990.0
0000000006       1.0    -11   980.0
0000000007       1.0     -5  1780.0
0000000008       1.0     -9  1815.0
0000000009       1.0    -11   990.0
0000000010       1.0     -7  1954.0
0000000011       1.0     -3  1819.0
0000000012       1.0     -2  1786.0
0000000013       1.0     -8  1606.0
0000000014       1.0     -8  1859.0
0000000015       1.0     -7  1909.0
0000000016       1.0     -8  1905.0
0000000017       1.0     -7  1867.0
0000000018       1.0    -11   980.0
0000000019       1.0     -9  1673.0
0000000020       1.0     -5  1793.0
0000000021       1.0    -11   980.0
0000000022       1.0    -11   980.0
0000000023       1.0     -6  1858.0
0000000024       1.0     -6  1759.0
0000000025       1.0     -4  1970.0
0000000026       1.0    -11   980.0
0000000027       1.0     -8  1875.0
0000000028       1.0     -7  1861.0
0000000029       1.0    -10  1172.0
...              ...    ...     ...
0000000970       1.0     -7  1749.0
0000000971       1.0    -11   980.0
0000000972       1.0     -6  1871.0
0000000973       1.0     -8  1562.0
0000000974       1.0     -2  1844.0
0000000975       1.0     -8  1496.0
0000000976       1.0     -5  1970.0
0000000977       1.0    -11   970.0
0000000978       1.0     -1  1883.0
0000000979       1.0     -4  2585.0
0000000980       1.0     -6  1544.0
0000000981       1.0     -6  1687.0
0000000982       1.0     -6  1861.0
0000000983       1.0     -6  1772.0
0000000984       1.0     -7  1914.0
0000000985       1.0     -7  1660.0
0000000986       1.0     -7  1732.0
0000000987       1.0    -11   980.0
0000000988       1.0     -1  1834.0
0000000989       1.0     -1  1980.0
0000000990       1.0     -6  1760.0
0000000991       1.0     -6  1980.0
0000000992       1.0     -2  1855.0
0000000993       1.0     -6  1827.0
0000000994       1.0     -2  1836.0
0000000995       1.0    -11   980.0
0000000996       1.0    -11   980.0
0000000997       1.0     -1  1753.0
0000000998       1.0     -3  1858.0
0000000999       1.0     -7  1624.0

[1000 rows x 3 columns]

In [3]:
out[1]

,A,PRODUCT,DURATION,TYPE,VALUE,B,PASS_CONDITIONS,datetime,A_NUMBER,B_NUMBER,CELL_A,CELL_B
0,0000000001,VOICE,85.0,VOICE,85.0,0000000019,1,08062016 00:35:13,0032478242305,0032478242305,CELL_0068,CELL_0068
1,0000000025,SMS,NaN,SMS,10.0,0000000001,1,08062016 00:46:34,0032478183739,0032476504058,CELL_0096,CELL_0040
2,0000000029,VOICE,69.0,VOICE,69.0,0000000754,1,08062016 00:08:18,0032475314390,0032472677657,CELL_0010,CELL_0067
3,0000000031,SMS,NaN,SMS,10.0,0000000633,1,08062016 00:52:01,0032477951929,0032473505482,CELL_0021,CELL_0051
4,0000000052,VOICE,76.0,VOICE,76.0,0000000919,1,08062016 00:02:51,0032479896864,0032473948565,CELL_0022,CELL_0026
5,0000000086,SMS,NaN,SMS,10.0,0000000263,1,08062016 00:46:39,0032477423637,0032473948565,CELL_0074,CELL_0026
6,0000000087,SMS,NaN,SMS,10.0,0000000171,1,08062016 00:09:15,0032476652753,0032472752156,CELL_0035,CELL_0010
7,0000000091,SMS,NaN,SMS,10.0,0000000805,1,08062016 00:48:27,0032472634511,0032475390535,CELL_0037,CELL_0024
8,0000000093,VOICE,191.0,VOICE,191.0,0000000398,1,08062016 00:00:32,0032478242348,0032475390535,CELL_0047,CELL_0024
9,0000000095,VOICE,63.0,VOICE,63.0,0000000438,1,08062016 00:03:35,0032478280902,0032475390535,CELL_0075,CELL_0024
10,0000000100,VOICE,111.0,VOICE,111.0,0000000708,1,08062016 00:11:16,0032479156981,0032477769523,CELL_0007,CELL_0083
11,0000000101,VOICE,52.0,VOICE,52.0,0000000956,1,08062016 00:36:24,0032472687201,0032472366438,CELL_0037,CELL_0099
12,0000000111,VOICE,235.0,VOICE,235.0,0000000493,1,08062016 00:41:46,0032476783177,0032478222457,CELL_0073,CELL_0009
13,0000000120,VOICE,184.0,VOICE,184.0,0000000729,1,08062016 00:21:30,0032476847240,0032472634511,CELL_0055,CELL_0037
14,0000000137,SMS,NaN,SMS,10.0,0000000091,1,08062016 00:55:40,0032473258936,0032477316009,CELL_0097,CELL_0053
15,0000000141,VOICE,156.0,VOICE,156.0,0000000693,1,08062016 00:43:00,0032477040757,0032472492522,CELL_0064,CELL_0051
16,0000000144,VOICE,222.0,VOICE,222.0,0000000519,1,08062016 00:16:43,0032478895346,0032472367373,CELL_0089,CELL_0060
17,0000000150,SMS,NaN,SMS,10.0,0000000359,1,08062016 00:05:03,0032479082243,0032478086026,CELL_0026,CELL_0018
18,0000000153,SMS,NaN,SMS,10.0,0000000221,1,08062016 00:45:38,0032479022915,0032476783177,CELL_0074,CELL_0073
19,0000000157,VOICE,30.0,VOICE,30.0,0000000866,1,08062016 00:07:50,0032472613122,0032477641861,CELL_0074,CELL_0015
20,0000000177,SMS,NaN,SMS,10.0,0000000111,1,08062016 00:48:38,0032475782388,0032476648381,CELL_0084,CELL_0081
21,0000000180,VOICE,32.0,VOICE,32.0,0000000396,1,08062016 00:26:10,0032477055804,0032478895346,CELL_0030,CELL_0089
22,0000000188,VOICE,95.0,VOICE,95.0,0000000516,1,08062016 00:15:10,0032476593495,0032472742497,CELL_0001,CELL_0066
23,0000000205,SMS,NaN,SMS,10.0,0000000044,1,08062016 00:11:50,0032475802511,0032472713125,CELL_0046,CELL_0002
24,0000000206,SMS,NaN,SMS,10.0,0000000858,1,08062016 00:37:22,0032473181482,0032472452797,CELL_0080,CELL_0053
25,0000000213,VOICE,40.0,VOICE,40.0,0000000581,1,08062016 00:19:59,0032472753019,0032479347394,CELL_0025,CELL_0087
26,0000000223,SMS,NaN,SMS,10.0,0000000106,1,08062016 00:10:06,0032473957285,0032472898916,CELL_0027,CELL_0067
27,0000000230,VOICE,67.0,VOICE,67.0,0000000367,1,08062016 00:49:49,0032473596802,0032476797415,CELL_0054,CELL_0035
28,0000000250,VOICE,198.0,VOICE,198.0,0000000463,1,08062016 00:31:48,0032473515348,0032479657399,CELL_0078,CELL_0099
29,0000000252,SMS,NaN,SMS,10.0,0000000223,1,08062016 00:54:47,0032479193562,0032477781349,CELL_0002,CELL_0076
...,...,...,...,...,...,...,...,...,...,...,...,...
2856,0000000885,VOICE,86.0,VOICE,86.0,0000000376,1,08062016 09:27:18,0032479430949,0032478327482,CELL_0045,CELL_0048
2857,0000000892,SMS,NaN,SMS,10.0,0000000610,1,08062016 09:27:21,0032475157115,0032475153391,CELL_0064,CELL_0081
2858,0000000893,VOICE,106.0,VOICE,106.0,0000000987,1,08062016 09:20:43,0032478327482,0032472586064,CELL_0048,CELL_0076
2859,0000000900,SMS,NaN,SMS,10.0,0000000837,1,08062016 09:39:08,0032476573548,0032477601862,CELL_0042,CELL_0059
2860,0000000908,VOICE,226.0,VOICE,226.0,0000000295,1,08062016 09:45:26,0032476905022,0032477601862,CELL_0088,CELL_0059
2861,0000000916,VOICE,107.0,VOICE,107.0,0000000249,1,08062016 09:44:45,0032477889176,0032478296912,CELL_0076,CELL_0009
2862,0000000917,VOICE,148.0,VOICE,148.0,0000000083,1,08062016 09:51:39,0032473272759,0032473253461,CELL_0026,CELL_0049
2863,0000000924,SMS,NaN,SMS,10.0,0000000645,1,08062016 09:37:31,0032477330424,0032472033775,CELL_0097,CELL_0000
2864,0000000934,VOICE,54.0,VOICE,54.0,0000000719,1,08062016 09:40:49,0032479263550,0032472737816,CELL_0029,CELL_0063
2865,0000000937,VOICE,58.0,VOICE,58.0,0000000517,1,08062016 09:39:17,0032478183359,0032479263550,CELL_0086,CELL_0029
2866,0000000939,SMS,NaN,SMS,10.0,0000000690,1,08062016 09:34:12,0032479565303,0032479263550,CELL_0012,CELL_0029
2867,0000000943,VOICE,41.0,VOICE,41.0,0000000769,1,08062016 09:36:46,0032476003422,0032479565303,CELL_0078,CELL_0012
2868,0000000944,SMS,NaN,SMS,10.0,0000000950,1,08062016 09:16:28,0032479774371,0032472912612,CELL_0006,CELL_0089
2869,0000000948,VOICE,47.0,VOICE,47.0,0000000253,1,08062016 09:48:34,0032472912612,0032472912612,CELL_0089,CELL_0089
2870,0000000953,SMS,NaN,SMS,10.0,0000000781,1,08062016 09:09:35,0032478960298,0032477138640,CELL_0041,CELL_0025
2871,0000000955,VOICE,112.0,VOICE,112.0,0000000056,1,08062016 09:35:50,0032477624175,0032478516532,CELL_0078,CELL_0090
2872,0000000956,SMS,NaN,SMS,10.0,0000000948,1,08062016 09:23:14,0032478130185,0032478468532,CELL_0003,CELL_0095
2873,0000000960,SMS,NaN,SMS,10.0,0000000451,1,08062016 09:38:29,0032478803077,0032478903806,CELL_0081,CELL_0020
2874,0000000962,SMS,NaN,SMS,10.0,0000000582,1,08062016 09:37:43,0032477521392,0032473252613,CELL_0033,CELL_0078
2875,0000000963,SMS,NaN,SMS,10.0,0000000587,1,08062016 09:02:56,0032473583094,0032476759234,CELL_0063,CELL_0082
2876,0000000965,SMS,NaN,SMS,10.0,0000000553,1,08062016 09:34:43,0032478468532,0032479692192,CELL_0095,CELL_0032
2877,0000000975,VOICE,215.0,VOICE,215.0,0000000175,1,08062016 09:13:06,0032479665104,0032478962339,CELL_0007,CELL_0065
2878,0000000977,SMS,NaN,SMS,10.0,0000000734,1,08062016 09:54:01,0032472577292,0032478962339,CELL_0061,CELL_0065
2879,0000000978,VOICE,97.0,VOICE,97.0,0000000339,1,08062016 09:08:37,0032473252613,0032477202045,CELL_0078,CELL_0009
2880,0000000984,VOICE,43.0,VOICE,43.0,0000000358,1,08062016 09:11:09,0032478139986,0032477202045,CELL_0050,CELL_0009
2881,0000000985,SMS,NaN,SMS,10.0,0000000877,1,08062016 09:35:29,0032478962339,0032477202045,CELL_0065,CELL_0009
2882,0000000986,SMS,NaN,SMS,10.0,0000000386,1,08062016 09:46:28,0032477518741,0032477202045,CELL_0087,CELL_0009
2883,0000000988,VOICE,136.0,VOICE,136.0,0000000337,1,08062016 09:23:41,0032476238750,0032477997541,CELL_0070,CELL_0002
2884,0000000989,SMS,NaN,SMS,10.0,0000000456,1,08062016 09:59:46,0032477997541,0032479598504,CELL_0002,CELL_0044
2885,0000000997,VOICE,237.0,VOICE,237.0,0000000314,1,08062016 09:30:31,0032479545676,0032476932100,CELL_0004,CELL_0074

In [ ]:
out[2]

In [ ]:
out[3]