In [1]:
from src.generator import main
out = main()

Parameters
Done
Clock
Done
Generators
Done
initialise Time Generators
Done
Create callers
Done
Added atributes
Creating social network
Done
Done SNA
Mobility
Network created
Done all customers
Creating circus
Done
Start run

In [2]:
out[0].get_contents()[1]["customers"]._transient_attributes["CELL"]._table

            activity  clock      value
0000000000       1.0     13  CELL_0013
0000000001       1.0     12  CELL_0052
0000000002       1.0     23  CELL_0096
0000000003       1.0      9  CELL_0052
0000000004       1.0      9  CELL_0092
0000000005       1.0     15  CELL_0039
0000000006       1.0      0  CELL_0072
0000000007       1.0      8  CELL_0029
0000000008       1.0      7  CELL_0010
0000000009       1.0      4  CELL_0026
0000000010       1.0     17  CELL_0060
0000000011       1.0      0  CELL_0024
0000000012       1.0      8  CELL_0011
0000000013       1.0      9  CELL_0048
0000000014       1.0      8  CELL_0078
0000000015       1.0     17  CELL_0085
0000000016       1.0     17  CELL_0099
0000000017       1.0      8  CELL_0080
0000000018       1.0      7  CELL_0009
0000000019       1.0      7  CELL_0099
0000000020       1.0      9  CELL_0090
0000000021       1.0     17  CELL_0095
0000000022       1.0     11  CELL_0012
0000000023       1.0      7  CELL_0096
0000000024       1.0      6  CELL_0071
0000000025       1.0      4  CELL_0054
0000000026       1.0      7  CELL_0056
0000000027       1.0      0  CELL_0039
0000000028       1.0     17  CELL_0018
0000000029       1.0     13  CELL_0081
...              ...    ...        ...
0000009970       1.0      2  CELL_0047
0000009971       1.0     12  CELL_0032
0000009972       1.0      9  CELL_0010
0000009973       1.0     18  CELL_0081
0000009974       1.0      0  CELL_0088
0000009975       1.0      7  CELL_0023
0000009976       1.0      7  CELL_0050
0000009977       1.0     18  CELL_0057
0000009978       1.0      8  CELL_0087
0000009979       1.0      9  CELL_0034
0000009980       1.0      9  CELL_0035
0000009981       1.0     10  CELL_0061
0000009982       1.0      2  CELL_0071
0000009983       1.0      8  CELL_0074
0000009984       1.0      7  CELL_0066
0000009985       1.0      5  CELL_0012
0000009986       1.0      8  CELL_0032
0000009987       1.0      0  CELL_0005
0000009988       1.0     18  CELL_0067
0000009989       1.0      9  CELL_0050
0000009990       1.0      8  CELL_0059
0000009991       1.0     13  CELL_0027
0000009992       1.0      8  CELL_0048
0000009993       1.0      8  CELL_0059
0000009994       1.0      4  CELL_0066
0000009995       1.0      8  CELL_0091
0000009996       1.0      8  CELL_0013
0000009997       1.0     19  CELL_0015
0000009998       1.0      0  CELL_0088
0000009999       1.0      9  CELL_0035

[10000 rows x 3 columns]

In [3]:
out[1]

,A,B,datetime,A_NUMBER,B_NUMBER,CELL_A,CELL_B
0,0000000001,0000008028,08062016 00:35:13,0032478242305,0032477478674,CELL_0052,CELL_0050
1,0000000025,0000003692,08062016 00:46:34,0032478183739,0032476213229,CELL_0005,CELL_0040
2,0000000029,0000006668,08062016 00:08:18,0032475314390,0032477762451,CELL_0081,CELL_0050
3,0000000031,0000001405,08062016 00:52:01,0032477951929,0032472268901,CELL_0057,CELL_0066
4,0000000052,0000005653,08062016 00:02:51,0032479896864,0032472723811,CELL_0024,CELL_0076
5,0000000086,0000002315,08062016 00:46:39,0032477423637,0032473720314,CELL_0080,CELL_0031
6,0000000087,0000008202,08062016 00:09:15,0032476652753,0032472789855,CELL_0002,CELL_0013
7,0000000091,0000005439,08062016 00:48:27,0032472634511,0032476847240,CELL_0053,CELL_0070
8,0000000093,0000007084,08062016 00:00:32,0032478242348,0032477849766,CELL_0078,CELL_0090
9,0000000095,0000003528,08062016 00:03:35,0032478280902,0032477040757,CELL_0050,CELL_0069
10,0000000100,0000001107,08062016 00:11:16,0032479156981,0032477194480,CELL_0032,CELL_0085
11,0000000101,0000009713,08062016 00:36:24,0032472687201,0032476937218,CELL_0077,CELL_0000
12,0000000111,0000006055,08062016 00:41:46,0032476783177,0032479965199,CELL_0027,CELL_0077
13,0000000120,0000003161,08062016 00:21:30,0032476847240,0032477149706,CELL_0070,CELL_0002
14,0000000137,0000002767,08062016 00:55:40,0032473258936,0032477278222,CELL_0089,CELL_0040
15,0000000141,0000005701,08062016 00:43:00,0032477040757,0032475954047,CELL_0069,CELL_0009
16,0000000144,0000006192,08062016 00:16:43,0032478895346,0032475954047,CELL_0092,CELL_0009
17,0000000150,0000001053,08062016 00:05:03,0032479082243,0032472157622,CELL_0036,CELL_0059
18,0000000153,0000006452,08062016 00:45:38,0032479022915,0032477907234,CELL_0038,CELL_0007
19,0000000157,0000004491,08062016 00:07:50,0032472613122,0032473869017,CELL_0045,CELL_0071
20,0000000177,0000000240,08062016 00:48:38,0032475782388,0032475970605,CELL_0054,CELL_0053
21,0000000180,0000000974,08062016 00:26:10,0032477055804,0032479709587,CELL_0007,CELL_0042
22,0000000188,0000008602,08062016 00:15:10,0032476593495,0032478588031,CELL_0045,CELL_0064
23,0000000205,0000004298,08062016 00:11:50,0032475802511,0032477715083,CELL_0089,CELL_0080
24,0000000206,0000004793,08062016 00:37:22,0032473181482,0032478329960,CELL_0036,CELL_0066
25,0000000213,0000008840,08062016 00:19:59,0032472753019,0032472156325,CELL_0028,CELL_0081
26,0000000223,0000008026,08062016 00:10:06,0032473957285,0032478907010,CELL_0085,CELL_0022
27,0000000230,0000008080,08062016 00:49:49,0032473596802,0032473799224,CELL_0031,CELL_0050
28,0000000250,0000008631,08062016 00:31:48,0032473515348,0032479048943,CELL_0073,CELL_0062
29,0000000252,0000007935,08062016 00:54:47,0032479193562,0032473744568,CELL_0040,CELL_0030
...,...,...,...,...,...,...,...
28254,0000009904,0000003091,08062016 09:31:05,0032478326296,0032478566516,CELL_0066,CELL_0099
28255,0000009905,0000004431,08062016 09:03:02,0032476173869,0032472908367,CELL_0001,CELL_0039
28256,0000009908,0000001008,08062016 09:57:06,0032475153126,0032475798510,CELL_0091,CELL_0025
28257,0000009922,0000000099,08062016 09:56:24,0032473154379,0032479301251,CELL_0072,CELL_0057
28258,0000009929,0000001954,08062016 09:41:37,0032476528343,0032478326296,CELL_0000,CELL_0066
28259,0000009930,0000002194,08062016 09:22:51,0032472772405,0032478513475,CELL_0063,CELL_0036
28260,0000009932,0000001823,08062016 09:58:48,0032476724785,0032477510004,CELL_0060,CELL_0073
28261,0000009934,0000008662,08062016 09:14:44,0032477142700,0032472077310,CELL_0030,CELL_0012
28262,0000009938,0000006887,08062016 09:57:27,0032476444937,0032472077310,CELL_0052,CELL_0012
28263,0000009943,0000001307,08062016 09:15:43,0032477920627,0032478183402,CELL_0042,CELL_0021
28264,0000009945,0000000097,08062016 09:49:46,0032477922698,0032475850790,CELL_0007,CELL_0082
28265,0000009948,0000001248,08062016 09:12:33,0032479847850,0032479030053,CELL_0060,CELL_0024
28266,0000009950,0000001420,08062016 09:15:59,0032477010701,0032479642292,CELL_0043,CELL_0072
28267,0000009951,0000007914,08062016 09:14:02,0032472948359,0032476528343,CELL_0034,CELL_0000
28268,0000009954,0000000226,08062016 09:35:31,0032478035936,0032476528343,CELL_0040,CELL_0000
28269,0000009959,0000006509,08062016 09:15:05,0032477993241,0032476528343,CELL_0066,CELL_0000
28270,0000009961,0000000555,08062016 09:18:28,0032472683469,0032475346665,CELL_0088,CELL_0089
28271,0000009965,0000005135,08062016 09:31:26,0032477429979,0032477460594,CELL_0059,CELL_0028
28272,0000009968,0000008354,08062016 09:46:31,0032472110501,0032476947202,CELL_0017,CELL_0000
28273,0000009969,0000008285,08062016 09:10:37,0032476258705,0032477920627,CELL_0017,CELL_0042
28274,0000009970,0000002149,08062016 09:15:00,0032476544160,0032477922698,CELL_0047,CELL_0007
28275,0000009971,0000003885,08062016 09:37:15,0032472934230,0032472948359,CELL_0032,CELL_0034
28276,0000009972,0000006839,08062016 09:08:49,0032473972909,0032475222036,CELL_0010,CELL_0026
28277,0000009976,0000001847,08062016 09:50:58,0032478457508,0032479679260,CELL_0050,CELL_0064
28278,0000009978,0000002203,08062016 09:05:35,0032472431439,0032476680925,CELL_0087,CELL_0090
28279,0000009979,0000001997,08062016 09:29:08,0032473832710,0032473972909,CELL_0034,CELL_0010
28280,0000009981,0000006857,08062016 09:59:15,0032475831742,0032473408733,CELL_0061,CELL_0073
28281,0000009984,0000002776,08062016 09:03:46,0032479468234,0032473115755,CELL_0066,CELL_0041
28282,0000009992,0000007832,08062016 09:27:37,0032472411279,0032472014340,CELL_0048,CELL_0059
28283,0000009993,0000000367,08062016 09:02:48,0032473949163,0032479642556,CELL_0059,CELL_0088

In [4]:
out[2]

               A        new           datetime
0     0000000052  CELL_0014  08062016 00:42:08
1     0000000205  CELL_0098  08062016 00:39:03
2     0000000213  CELL_0041  08062016 00:10:23
3     0000000230  CELL_0082  08062016 00:50:46
4     0000000302  CELL_0024  08062016 00:11:23
5     0000000572  CELL_0037  08062016 00:20:05
6     0000000583  CELL_0059  08062016 00:19:59
7     0000000792  CELL_0075  08062016 00:00:07
8     0000000814  CELL_0008  08062016 00:08:07
9     0000000960  CELL_0066  08062016 00:42:45
10    0000001105  CELL_0023  08062016 00:28:33
11    0000001128  CELL_0042  08062016 00:17:12
12    0000001159  CELL_0016  08062016 00:24:00
13    0000001280  CELL_0075  08062016 00:57:00
14    0000001289  CELL_0095  08062016 00:10:19
15    0000001370  CELL_0030  08062016 00:40:16
16    0000001410  CELL_0034  08062016 00:00:55
17    0000001458  CELL_0082  08062016 00:51:36
18    0000001466  CELL_0072  08062016 00:17:07
19    0000001520  CELL_0008  08062016 00:04:16
20    0000001525  CELL_0086  08062016 00:49:57
21    0000001655  CELL_0026  08062016 00:06:57
22    0000001674  CELL_0025  08062016 00:31:41
23    0000001891  CELL_0054  08062016 00:17:18
24    0000001985  CELL_0053  08062016 00:29:26
25    0000001990  CELL_0012  08062016 00:01:27
26    0000002012  CELL_0043  08062016 00:50:26
27    0000002021  CELL_0023  08062016 00:00:40
28    0000002022  CELL_0020  08062016 00:10:39
29    0000002024  CELL_0088  08062016 00:21:30
...          ...        ...                ...
4022  0000009808  CELL_0043  08062016 09:36:29
4023  0000009810  CELL_0064  08062016 09:35:22
4024  0000009812  CELL_0058  08062016 09:51:13
4025  0000009822  CELL_0038  08062016 09:01:16
4026  0000009830  CELL_0075  08062016 09:58:48
4027  0000009831  CELL_0095  08062016 09:29:28
4028  0000009841  CELL_0085  08062016 09:29:07
4029  0000009847  CELL_0036  08062016 09:30:37
4030  0000009848  CELL_0079  08062016 09:00:18
4031  0000009858  CELL_0043  08062016 09:50:52
4032  0000009872  CELL_0062  08062016 09:00:48
4033  0000009877  CELL_0016  08062016 09:54:20
4034  0000009881  CELL_0025  08062016 09:23:36
4035  0000009893  CELL_0037  08062016 09:44:37
4036  0000009895  CELL_0055  08062016 09:05:41
4037  0000009897  CELL_0089  08062016 09:29:17
4038  0000009903  CELL_0034  08062016 09:06:08
4039  0000009910  CELL_0071  08062016 09:26:12
4040  0000009911  CELL_0047  08062016 09:57:54
4041  0000009916  CELL_0021  08062016 09:18:10
4042  0000009940  CELL_0083  08062016 09:17:08
4043  0000009949  CELL_0065  08062016 09:57:09
4044  0000009951  CELL_0020  08062016 09:58:29
4045  0000009962  CELL_0091  08062016 09:47:35
4046  0000009963  CELL_0007  08062016 09:10:53
4047  0000009973  CELL_0081  08062016 09:03:41
4048  0000009977  CELL_0057  08062016 09:02:30
4049  0000009988  CELL_0067  08062016 09:18:05
4050  0000009989  CELL_0050  08062016 09:38:53
4051  0000009999  CELL_0035  08062016 09:25:14

[4052 rows x 3 columns]

In [5]:
out[3]

{'caller SNA graph creation': 0.3999999999999999,
 'caller attribute creation': 1.46,
 'caller creation (solo)': 0.020000000000000018,
 'callers creation (full)': 1.9099999999999997,
 'circus creation': 0.0,
 'clocks': 0.0,
 'generators': 0.039999999999999925,
 'init generators': 0.0,
 'mobility attribute creation': 0.040000000000000036,
 'mobility graph creation': 1.4000000000000004,
 'one run (average)': 1.874,
 'parameters': 0.0,
 'runs (all)': 18.740000000000002}