In [1]:
from src.generator import main
out = main()

Parameters
Done
Clock
Done
Generators
Done
initialise Time Generators
Done
Create callers
Done
Added atributes
Creating social network
Done
Done SNA
Mobility
Network created
Agent relationship created
Done all customers
Creating circus
Done
Start run

In [ ]:
out[0].get_contents()[1]["customers"]._transient_attributes["MAIN_ACCT"]._table

In [2]:
out[1]

,A,PRODUCT,DURATION,TYPE,VALUE,B,PASS_CONDITIONS,datetime,A_NUMBER,B_NUMBER,CELL_A,CELL_B
0,0000000001,VOICE,85.0,VOICE,85.0,0000056095,1,08062016 00:35:13,0032478242305,0032476053706,CELL_0068,CELL_0052
1,0000000025,SMS,NaN,SMS,10.0,0000006462,1,08062016 00:46:34,0032478183739,0032475930087,CELL_0064,CELL_0079
2,0000000029,VOICE,69.0,VOICE,69.0,0000061545,1,08062016 00:08:18,0032475314390,0032475286901,CELL_0056,CELL_0051
3,0000000031,SMS,NaN,SMS,10.0,0000097596,1,08062016 00:52:01,0032477951929,0032472363537,CELL_0097,CELL_0006
4,0000000052,VOICE,76.0,VOICE,76.0,0000076346,1,08062016 00:02:51,0032479896864,0032472363537,CELL_0028,CELL_0006
5,0000000086,SMS,NaN,SMS,10.0,0000053014,1,08062016 00:46:39,0032477423637,0032477301411,CELL_0083,CELL_0022
6,0000000087,SMS,NaN,SMS,10.0,0000071777,1,08062016 00:09:15,0032476652753,0032478727982,CELL_0077,CELL_0036
7,0000000091,SMS,NaN,SMS,10.0,0000015097,1,08062016 00:48:27,0032472634511,0032476652753,CELL_0095,CELL_0077
8,0000000093,VOICE,191.0,VOICE,191.0,0000066643,1,08062016 00:00:32,0032478242348,0032478116087,CELL_0052,CELL_0060
9,0000000095,VOICE,63.0,VOICE,63.0,0000041683,1,08062016 00:03:35,0032478280902,0032476688893,CELL_0044,CELL_0014
10,0000000100,VOICE,111.0,VOICE,111.0,0000034759,1,08062016 00:11:16,0032479156981,0032478720695,CELL_0016,CELL_0065
11,0000000101,VOICE,52.0,VOICE,52.0,0000049491,1,08062016 00:36:24,0032472687201,0032472018598,CELL_0013,CELL_0056
12,0000000111,VOICE,235.0,VOICE,235.0,0000047239,1,08062016 00:41:46,0032476783177,0032478224926,CELL_0004,CELL_0037
13,0000000120,VOICE,184.0,VOICE,184.0,0000023996,1,08062016 00:21:30,0032476847240,0032477491327,CELL_0079,CELL_0096
14,0000000137,SMS,NaN,SMS,10.0,0000097518,1,08062016 00:55:40,0032473258936,0032477491327,CELL_0060,CELL_0096
15,0000000141,VOICE,156.0,VOICE,156.0,0000074943,1,08062016 00:43:00,0032477040757,0032473251179,CELL_0029,CELL_0099
16,0000000144,VOICE,222.0,VOICE,222.0,0000028422,1,08062016 00:16:43,0032478895346,0032473251179,CELL_0000,CELL_0099
17,0000000150,SMS,NaN,SMS,10.0,0000016594,1,08062016 00:05:03,0032479082243,0032479880204,CELL_0046,CELL_0083
18,0000000153,SMS,NaN,SMS,10.0,0000019406,1,08062016 00:45:38,0032479022915,0032475349157,CELL_0084,CELL_0018
19,0000000157,VOICE,30.0,VOICE,30.0,0000076685,1,08062016 00:07:50,0032472613122,0032479082243,CELL_0043,CELL_0046
20,0000000177,SMS,NaN,SMS,10.0,0000033246,1,08062016 00:48:38,0032475782388,0032476371381,CELL_0022,CELL_0025
21,0000000180,VOICE,32.0,VOICE,32.0,0000077233,1,08062016 00:26:10,0032477055804,0032476115237,CELL_0018,CELL_0095
22,0000000188,VOICE,95.0,VOICE,95.0,0000005016,1,08062016 00:15:10,0032476593495,0032472713125,CELL_0074,CELL_0080
23,0000000205,SMS,NaN,SMS,10.0,0000042548,1,08062016 00:11:50,0032475802511,0032478132057,CELL_0091,CELL_0027
24,0000000206,SMS,NaN,SMS,10.0,0000025546,1,08062016 00:37:22,0032473181482,0032479657399,CELL_0058,CELL_0056
25,0000000213,VOICE,40.0,VOICE,40.0,0000037376,1,08062016 00:19:59,0032472753019,0032473076345,CELL_0088,CELL_0042
26,0000000223,SMS,NaN,SMS,10.0,0000053204,1,08062016 00:10:06,0032473957285,0032472624072,CELL_0024,CELL_0069
27,0000000230,VOICE,67.0,VOICE,67.0,0000078113,1,08062016 00:49:49,0032473596802,0032472096727,CELL_0013,CELL_0079
28,0000000250,VOICE,198.0,VOICE,198.0,0000013773,1,08062016 00:31:48,0032473515348,0032472226348,CELL_0047,CELL_0049
29,0000000252,SMS,NaN,SMS,10.0,0000045436,1,08062016 00:54:47,0032479193562,0032476045362,CELL_0045,CELL_0040
...,...,...,...,...,...,...,...,...,...,...,...,...
283855,0000099896,SMS,NaN,SMS,10.0,0000058367,1,08062016 09:27:14,0032476853822,0032472984583,CELL_0085,CELL_0046
283856,0000099897,SMS,NaN,SMS,10.0,0000015697,1,08062016 09:50:36,0032478222102,0032477171910,CELL_0009,CELL_0006
283857,0000099901,VOICE,158.0,VOICE,158.0,0000029995,1,08062016 09:19:38,0032476842095,0032472233519,CELL_0039,CELL_0069
283858,0000099902,VOICE,66.0,VOICE,66.0,0000014171,1,08062016 09:42:58,0032473987254,0032472233519,CELL_0049,CELL_0069
283859,0000099906,VOICE,170.0,VOICE,170.0,0000050388,1,08062016 09:20:32,0032473251649,0032478326711,CELL_0053,CELL_0018
283860,0000099907,VOICE,161.0,VOICE,161.0,0000071852,1,08062016 09:45:12,0032478411462,0032478203659,CELL_0003,CELL_0047
283861,0000099909,VOICE,183.0,VOICE,183.0,0000012016,1,08062016 09:36:37,0032478428782,0032476202483,CELL_0070,CELL_0066
283862,0000099913,VOICE,72.0,VOICE,72.0,0000032539,1,08062016 09:06:44,0032477171910,0032476417940,CELL_0006,CELL_0012
283863,0000099915,VOICE,67.0,VOICE,67.0,0000017381,1,08062016 09:27:28,0032472233519,0032473442558,CELL_0069,CELL_0008
283864,0000099920,VOICE,161.0,VOICE,161.0,0000075086,1,08062016 09:19:45,0032472475562,0032475662753,CELL_0091,CELL_0038
283865,0000099927,VOICE,58.0,VOICE,58.0,0000010150,1,08062016 09:32:14,0032479964943,0032478163721,CELL_0073,CELL_0020
283866,0000099929,VOICE,156.0,VOICE,156.0,0000004212,1,08062016 09:33:15,0032476027246,0032477645394,CELL_0082,CELL_0013
283867,0000099930,SMS,NaN,SMS,10.0,0000077691,1,08062016 09:00:07,0032476417940,0032476626678,CELL_0012,CELL_0044
283868,0000099931,SMS,NaN,SMS,10.0,0000089379,1,08062016 09:24:37,0032476106347,0032475455380,CELL_0032,CELL_0014
283869,0000099939,VOICE,221.0,VOICE,221.0,0000003815,1,08062016 09:57:34,0032475455380,0032475630537,CELL_0014,CELL_0046
283870,0000099942,VOICE,82.0,VOICE,82.0,0000096858,1,08062016 09:21:49,0032476702109,0032473497350,CELL_0032,CELL_0056
283871,0000099946,SMS,NaN,SMS,10.0,0000087818,1,08062016 09:44:01,0032473717815,0032476537515,CELL_0057,CELL_0010
283872,0000099947,SMS,NaN,SMS,10.0,0000056927,1,08062016 09:55:13,0032475239729,0032473341813,CELL_0036,CELL_0067
283873,0000099953,VOICE,132.0,VOICE,132.0,0000009844,1,08062016 09:07:50,0032472424196,0032479490550,CELL_0003,CELL_0080
283874,0000099960,VOICE,161.0,VOICE,161.0,0000083178,1,08062016 09:04:24,0032479490550,0032475685395,CELL_0080,CELL_0002
283875,0000099961,SMS,NaN,SMS,10.0,0000055622,1,08062016 09:17:31,0032478797567,0032475685395,CELL_0011,CELL_0002
283876,0000099962,SMS,NaN,SMS,10.0,0000056302,1,08062016 09:06:31,0032475685395,0032476002758,CELL_0002,CELL_0037
283877,0000099969,VOICE,109.0,VOICE,109.0,0000007976,1,08062016 09:13:04,0032478417567,0032476002758,CELL_0076,CELL_0037
283878,0000099976,SMS,NaN,SMS,10.0,0000078769,1,08062016 09:07:36,0032479937859,0032479248158,CELL_0089,CELL_0090
283879,0000099977,SMS,NaN,SMS,10.0,0000021529,1,08062016 09:04:09,0032475831443,0032478378590,CELL_0047,CELL_0044
283880,0000099985,SMS,NaN,SMS,10.0,0000083558,1,08062016 09:03:00,0032473335897,0032473814432,CELL_0080,CELL_0048
283881,0000099986,VOICE,221.0,VOICE,221.0,0000063502,1,08062016 09:46:35,0032476118552,0032475131597,CELL_0089,CELL_0015
283882,0000099990,VOICE,180.0,VOICE,180.0,0000015915,1,08062016 09:21:30,0032472824896,0032477620957,CELL_0033,CELL_0035
283883,0000099995,SMS,NaN,SMS,10.0,0000042257,1,08062016 09:51:00,0032476549592,0032476926456,CELL_0042,CELL_0028
283884,0000099996,VOICE,156.0,VOICE,156.0,0000019015,1,08062016 09:50:10,0032475824713,0032475273996,CELL_0028,CELL_0070

In [ ]:
out[2]

In [ ]:
out[3]