In [1]:
import pandas as pd
import numpy as np 
from datetime import timedelta

In [12]:
df.mask?

In [14]:
df[df.A.apply(lambda t: t[0]!=t[1])]

        A
0  [1, 2]
1  [2, 3]
3  [1, 2]

In [2]:
pd.Timestamp("10 June 2016 5:53pm")

Timestamp('2016-06-10 17:53:00')

In [3]:
pd.Timestamp("20160810-10:34.34") - pd.Timestamp("20160810-10:34.34")

Timedelta('0 days 00:00:00')

In [4]:
profile = [1,2,3,4,5,6,7]
start="20160810-10:34.34"
profile_time_steps="1D"

In [5]:
idx = pd.date_range(start=pd.Timestamp(start), 
                    freq=profile_time_steps, periods=len(profile))
ser = pd.Series(data=profile, index=idx)
ser

2016-08-10 10:34:20    1
2016-08-11 10:34:20    2
2016-08-12 10:34:20    3
2016-08-13 10:34:20    4
2016-08-14 10:34:20    5
2016-08-15 10:34:20    6
2016-08-16 10:34:20    7
Freq: D, dtype: int64

In [6]:
ser.resample?

In [67]:
ser2 = ser.resample(rule="%ds"%clock_s, fill_method='pad', closed=["left", "right"])
ser2

2016-08-10 10:30:00   NaN
2016-08-10 10:45:00     1
2016-08-10 11:00:00     1
2016-08-10 11:15:00     1
2016-08-10 11:30:00     1
2016-08-10 11:45:00     1
2016-08-10 12:00:00     1
2016-08-10 12:15:00     1
2016-08-10 12:30:00     1
2016-08-10 12:45:00     1
2016-08-10 13:00:00     1
2016-08-10 13:15:00     1
2016-08-10 13:30:00     1
2016-08-10 13:45:00     1
2016-08-10 14:00:00     1
2016-08-10 14:15:00     1
2016-08-10 14:30:00     1
2016-08-10 14:45:00     1
2016-08-10 15:00:00     1
2016-08-10 15:15:00     1
2016-08-10 15:30:00     1
2016-08-10 15:45:00     1
2016-08-10 16:00:00     1
2016-08-10 16:15:00     1
2016-08-10 16:30:00     1
2016-08-10 16:45:00     1
2016-08-10 17:00:00     1
2016-08-10 17:15:00     1
2016-08-10 17:30:00     1
2016-08-10 17:45:00     1
                       ..
2016-08-16 03:15:00     6
2016-08-16 03:30:00     6
2016-08-16 03:45:00     6
2016-08-16 04:00:00     6
2016-08-16 04:15:00     6
2016-08-16 04:30:00     6
2016-08-16 04:45:00     6
2016-08-16 05:00:00     6
2016-08-16 05:15:00     6
2016-08-16 05:30:00     6
2016-08-16 05:45:00     6
2016-08-16 06:00:00     6
2016-08-16 06:15:00     6
2016-08-16 06:30:00     6
2016-08-16 06:45:00     6
2016-08-16 07:00:00     6
2016-08-16 07:15:00     6
2016-08-16 07:30:00     6
2016-08-16 07:45:00     6
2016-08-16 08:00:00     6
2016-08-16 08:15:00     6
2016-08-16 08:30:00     6
2016-08-16 08:45:00     6
2016-08-16 09:00:00     6
2016-08-16 09:15:00     6
2016-08-16 09:30:00     6
2016-08-16 09:45:00     6
2016-08-16 10:00:00     6
2016-08-16 10:15:00     6
2016-08-16 10:30:00     6
Freq: 900S, dtype: float64

In [30]:
ser2.fillna(method="bfill")

2016-08-10 10:30:00    1
2016-08-10 10:45:00    1
2016-08-10 11:00:00    1
2016-08-10 11:15:00    1
2016-08-10 11:30:00    1
2016-08-10 11:45:00    1
2016-08-10 12:00:00    1
2016-08-10 12:15:00    1
2016-08-10 12:30:00    1
2016-08-10 12:45:00    1
2016-08-10 13:00:00    1
2016-08-10 13:15:00    1
2016-08-10 13:30:00    1
2016-08-10 13:45:00    1
2016-08-10 14:00:00    1
2016-08-10 14:15:00    1
2016-08-10 14:30:00    1
2016-08-10 14:45:00    1
2016-08-10 15:00:00    1
2016-08-10 15:15:00    1
2016-08-10 15:30:00    1
2016-08-10 15:45:00    1
2016-08-10 16:00:00    1
2016-08-10 16:15:00    1
2016-08-10 16:30:00    1
2016-08-10 16:45:00    1
2016-08-10 17:00:00    1
2016-08-10 17:15:00    1
2016-08-10 17:30:00    1
2016-08-10 17:45:00    1
                      ..
2016-08-16 03:15:00    6
2016-08-16 03:30:00    6
2016-08-16 03:45:00    6
2016-08-16 04:00:00    6
2016-08-16 04:15:00    6
2016-08-16 04:30:00    6
2016-08-16 04:45:00    6
2016-08-16 05:00:00    6
2016-08-16 05:15:00    6
2016-08-16 05:30:00    6
2016-08-16 05:45:00    6
2016-08-16 06:00:00    6
2016-08-16 06:15:00    6
2016-08-16 06:30:00    6
2016-08-16 06:45:00    6
2016-08-16 07:00:00    6
2016-08-16 07:15:00    6
2016-08-16 07:30:00    6
2016-08-16 07:45:00    6
2016-08-16 08:00:00    6
2016-08-16 08:15:00    6
2016-08-16 08:30:00    6
2016-08-16 08:45:00    6
2016-08-16 09:00:00    6
2016-08-16 09:15:00    6
2016-08-16 09:30:00    6
2016-08-16 09:45:00    6
2016-08-16 10:00:00    6
2016-08-16 10:15:00    6
2016-08-16 10:30:00    6
Freq: 900S, dtype: float64

In [7]:
table = pd.DataFrame(np.random.rand(12,3), columns =["from", "to", "weight"])

In [8]:
table

        from        to    weight
0   0.191746  0.591068  0.664650
1   0.119819  0.750381  0.551775
2   0.174018  0.994252  0.268237
3   0.218828  0.227844  0.574534
4   0.666035  0.068595  0.677125
5   0.201719  0.417361  0.540864
6   0.439700  0.203553  0.709968
7   0.172645  0.351352  0.645310
8   0.461428  0.714206  0.381338
9   0.893996  0.252387  0.158527
10  0.580279  0.424639  0.023987
11  0.475353  0.437346  0.481137

In [28]:
dictionary_example

{'1234': {'choice': 0,
  'choice_set': {0: {'A': 100, 'B': 200, 'C': 300},
   1: {'A': 200, 'B': 300, 'C': 300},
   2: {'A': 500, 'B': 300, 'C': 300}}},
 '1876': {'choice': 2,
  'choice_set': {0: {'A': 100, 'B': 400, 'C': 300},
   1: {'A': 100, 'B': 300, 'C': 1000},
   2: {'A': 600, 'B': 200, 'C': 100}}},
 '234': {'choice': 1,
  'choice_set': {0: {'A': 100, 'B': 400}, 1: {'A': 100, 'B': 300, 'C': 1000}}}}

In [61]:
import json

dictionary_example={
    "1234":{'choice':0,'choice_set':{0:{'A':100,'B':200,'C':300},1:{'A':200,'B':300,'C':300},2:{'A':500,'B':300,'C':300}}},
   "234":{'choice':1,'choice_set':{0:{'A':100,'B':400},1:{'A':100,'B':300,'C':1000}}},
   "1876":{'choice':2,'choice_set':{0:{'A': 100,'B':400,'C':300},1:{'A':100,'B':300,'C':1000},2:{'A':600,'B':200,'C':100}}}
       
}

df = pd.read_json(json.dumps(dictionary_example)).T

df

     choice                                         choice_set
1234      0  {u'1': {u'A': 200, u'C': 300, u'B': 300}, u'0'...
1876      2  {u'1': {u'A': 100, u'C': 1000, u'B': 300}, u'0...
234       1  {u'1': {u'A': 100, u'C': 1000, u'B': 300}, u'0...

In [79]:
dictionary_example={
        "1234":{'choice':0,'choice_set':{0:{'A':100,'B':200,'C':300},1:{'A':200,'B':300,'C':300},2:{'A':500,'B':300,'C':300}}},
       "234":{'choice':1,'choice_set':{0:{'A':100,'B':400},1:{'A':100,'B':300,'C':1000}}},
       "1876":{'choice':2,'choice_set':{0:{'A': 100,'B':400,'C':300},1:{'A':100,'B':300,'C':1000},2:{'A':600,'B':200,'C':100}}}
           
    }
    
df = pd.read_json(json.dumps(dictionary_example)).T


def to_s(r):
    return pd.read_json(json.dumps(r)).unstack()

flattened_choice_set = df["choice_set"].apply(to_s)

flattened_choice_set.columns = ['_'.join((str(col[0]), col[1])) for col in flattened_choice_set.columns] 

result = pd.merge(df, flattened_choice_set, 
         left_index=True, right_index=True).drop("choice_set", axis=1)

result

     choice  0.0_A  0.0_B  0.0_C  1.0_A  1.0_B  1.0_C  2.0_A  2.0_B  2.0_C
1234      0    100    200    300    200    300    300    500    300    300
1876      2    100    400    300    100    300   1000    600    200    100
234       1    100    400    NaN    100    300   1000    NaN    NaN    NaN

[u'A_0', u'B_0', u'C_0', u'A_1', u'B_1', u'C_1', u'A_2', u'B_2', u'C_2']

In [52]:
df2 = pd.read_json(json.dumps({u'1': {u'A': 200, u'C': 300, u'B': 300}, u'0': {u'A': 100, u'C': 300, u'B': 200}, u'2': {u'A': 500, u'C': 300, u'B': 300}}))
df2.unstack()

0  A    100
   B    200
   C    300
1  A    200
   B    300
   C    300
2  A    500
   B    300
   C    300
dtype: int64

In [4]:
table2 = pd.DataFrame(table.stack())
table2["param"] = "value"
table3= table2.set_index("param", append=True)
table3

                        0
          param
0  from   value  0.489981
   to     value  0.643203
   weight value  0.353708
1  from   value  0.707611
   to     value  0.056023
   weight value  0.403421
2  from   value  0.142831
   to     value  0.613053
   weight value  0.233716
3  from   value  0.754613
   to     value  0.265937
   weight value  0.647274
4  from   value  0.549456
   to     value  0.162169
   weight value  0.842076
5  from   value  0.439067
   to     value  0.527567
   weight value  0.752204
6  from   value  0.690356
   to     value  0.223629
   weight value  0.539107
7  from   value  0.050790
   to     value  0.475801
   weight value  0.281711
8  from   value  0.579367
   to     value  0.956588
   weight value  0.857197
9  from   value  0.664748
   to     value  0.118639
   weight value  0.335659
10 from   value  0.677562
   to     value  0.588064
   weight value  0.316270
11 from   value  0.188803
   to     value  0.375113
   weight value  0.944784

In [5]:
table3.index = table3.index.reorder_levels([2, 0, 1])
table3.loc[("seed", 0, 0)] = 1234
table3

                           0
param
value 0  from       0.489981
         to         0.643203
         weight     0.353708
      1  from       0.707611
         to         0.056023
         weight     0.403421
      2  from       0.142831
         to         0.613053
         weight     0.233716
      3  from       0.754613
         to         0.265937
         weight     0.647274
      4  from       0.549456
         to         0.162169
         weight     0.842076
      5  from       0.439067
         to         0.527567
         weight     0.752204
      6  from       0.690356
         to         0.223629
         weight     0.539107
      7  from       0.050790
         to         0.475801
         weight     0.281711
      8  from       0.579367
         to         0.956588
         weight     0.857197
      9  from       0.664748
         to         0.118639
         weight     0.335659
      10 from       0.677562
         to         0.588064
         weight     0.316270
      11 from       0.188803
         to         0.375113
         weight     0.944784
seed  0  0       1234.000000

In [6]:

seed = table3.loc[("seed", 0, 0 )][0]
seed

1234.0

In [7]:
table4 = table3.loc[("value", slice(None), slice(None))].unstack()
table4.columns = table4.columns.droplevel(level=0)
table4

        from        to    weight
0   0.489981  0.643203  0.353708
1   0.707611  0.056023  0.403421
2   0.142831  0.613053  0.233716
3   0.754613  0.265937  0.647274
4   0.549456  0.162169  0.842076
5   0.439067  0.527567  0.752204
6   0.690356  0.223629  0.539107
7   0.050790  0.475801  0.281711
8   0.579367  0.956588  0.857197
9   0.664748  0.118639  0.335659
10  0.677562  0.588064  0.316270
11  0.188803  0.375113  0.944784

In [8]:
pd.DataFrame?

In [9]:
table

        from        to    weight
0   0.489981  0.643203  0.353708
1   0.707611  0.056023  0.403421
2   0.142831  0.613053  0.233716
3   0.754613  0.265937  0.647274
4   0.549456  0.162169  0.842076
5   0.439067  0.527567  0.752204
6   0.690356  0.223629  0.539107
7   0.050790  0.475801  0.281711
8   0.579367  0.956588  0.857197
9   0.664748  0.118639  0.335659
10  0.677562  0.588064  0.316270
11  0.188803  0.375113  0.944784

In [11]:

a = {}

In [12]:
len(a)

0

In [24]:
pd.read_csv?

In [23]:
s2 = pd.read_csv("test.csv", index_col=0)
#s2.set_index?
s2.columns

Index([], dtype='object')

In [22]:
type(s2)

pandas.core.frame.DataFrame

In [4]:
week_profile=[1,2,3,4,5,6,7]

In [6]:
from datetime import timedelta
profile = pd.Series(
            week_profile,
            index=[timedelta(days=d, hours=23, minutes=59, seconds=59)
                   for d in range(7)])

In [7]:
profile

0 days 23:59:59    1
1 days 23:59:59    2
2 days 23:59:59    3
3 days 23:59:59    4
4 days 23:59:59    5
5 days 23:59:59    6
6 days 23:59:59    7
dtype: int64

In [24]:
pd.Series([ [], [], [], [] ])

0    []
1    []
2    []
3    []
dtype: object

  abc
1  []
2  []
3  []
4  []